<h1>login Page</h1>

<div class="section">
  <div class="container-fluid newCourseForm">
    <h3 class="welcomeBack">Welcome Back!</h3>
    <%= form_for :user, url: login_path do |f| %>
    <div class="textInputs">
      <%=f.text_field :username, class: "form-control Input", :placeholder => 'Enter Username' %> 
      <%=f.password_field :password, class: "form-control Input", :placeholder => 'Enter Password' %>
    </div>
    <%=f.submit "LOG IN", class: "btn btn-lg btn-default loginButton" %> 
    <%end%>
  </div>
</div>
