<section id="features" style="background: #e6f0fe; padding-top: 20px">
    <div class="feature">
      <div>
        <h2 class="investPeople">VEN A COMPARTIR CON NOSOTROS EN NUESTROS EVENTOS</h2>

      
    
    </div>
      <div class="row featuresTogether featTogeth">
        
        <div class="feature-box col-lg-4" id="ind-card">
          <%= image_tag 'innovation/team.png', class: "innovation-image", alt:"team", width:"150px"%>
          <h2 class="feature-title" style="font-size: 36px;">Pastoral Familiar</h2>
          <h3 class="features-text">Únete a nuestra reunión familiar de parejas en la iglesia católica para compartir fe, amor y alegría. ¡Te esperamos con los brazos abiertos!</h3><br>
          <h2><strong>Mas Informacion?</strong> <br>Contactar Jose Flores <br>(346) 777-1280  </h2>
        </div>
        <div class="feature-box col-lg-4" id="ind-card">
          <%= image_tag 'rosario.png', class: "innovation-image", alt:"lightbulb", width:"160px"%>
          <h2 class="feature-title" style="font-size: 36px;">Rosarios</h2>
          <h3 class="features-text">Acompáñanos cada domingo a las 5 de la mañana para rezar el Santo Rosario y participa en nuestros eventos especiales. Anótate para los meses de rosario de Mayo y Octubre.</h3>
          <h2><strong>Mas Informacion?</strong> <br>Contactar Miguel Matteu <br>(631) 855-6055 </h2>
        </div>
        <div class="feature-box col-lg-4" id="ind-card">
          <%= image_tag 'innovation/teen.png', class: "innovation-image", alt:"teen", width:"180px"%>
          <h2 class="feature-title" style="font-size: 36px;">Vigilias</h2>
          <h3 class="features-text">Únete a nuestras vigilias mensuales cada segundo sábado. Oración, reflexión y comunión espiritual para fortalecer nuestra fe. ¡Te esperamos!</h3>
          <h2><strong>Mas Informacion?</strong> <br>Contactar Alex Martinez <br>(631) 575-7821 </h2>
        </div>
      </div>
    </div>
  </section>


  <style>
    .mt-4 {
      margin-top: 2rem;
    }
    h2 {
      font-size: 1.8rem;
      font-weight: bold;
    }
    ul {
      list-style-type: square;
    }
  </style>
<br><br>
    <div class="container mt-4">
        <div class="row">
          <!-- Columna 1: Sacramentos -->
          <div class="col-md-6">
            <h1 class="text-center feature-title">Sacramentos</h1>
            <h3 class="features-text">Los sacramentos son esenciales en la Iglesia Católica, ya que significan y confieren la gracia de Dios a los creyentes. Contáctenos para:</h3>
            <ul>
              <h3><strong>Bautismo, Primera Comunión, <br>Confirmación, clases de RICA:<br></strong> Contactar Milagro (516) 497-4915</h3><br>
              <h3><strong>Matrimonio & Uncion de los Enfermos:</strong> Contactar Padre Romulo (347) 604-0731</h3>
            </ul>
          </div>
          
          <!-- Columna 2: Confesiones -->
          <div class="col-md-6">
            <h1 class="text-center feature-title">Confesiones</h1>
            <h3 class="features-text">La Confesión, también conocida como Reconciliación, ofrece arrepentimiento y perdón. Horarios de Confesión:</h3>
            <ul>
              <h3><strong>Ingles:</strong> Sábados 4:00 PM a 5:00 PM en la Iglesia de St.Kilian</h3> 
              <h3><strong>Español:</strong> Miercoles 7:00 PM - 9:00 PM en la cafeteria</h3>
              <h3><strong>Para confesiones privadas,</strong> Contactar Padre Romulo (347) 604-0731</h3>
            </ul>
          </div>
        </div>
      </div><br><br><br>

      <h3 class="text-center"><strong>Mas Informacion?</strong> Padre Romulo Gomez (347) 604-0731<br>
      <strong>Parish of St.Kilian</strong> - www.stkilian.com <br> <strong>Comunidad Hispana de St.Kilian</strong> - www.seguidoresdejesus.com</h3>
      <br><br>