<section id="page1SemanalBulletin">
<div class="App-header">
    <div id="header" class="page1Jumbo">
      <div class="card-body page1BulletDiv" id="header-body">
        <p class="card-text text-center page1Header1" >Bienvenidos</p>
        <p class="card-text text-center page1Header2" >A Nuestra Comunidad Hispana</p>
      </div>
    </div>
  </div>
</section>



<!-- Commented out only for the Coordinador Meeting -->

<!-- <section id="page1SemanalBulletin">
  <div class="App-header">
      <div id="header" class="page1Jumbo">
        <div class="card-body page1BulletDiv" id="header-body">
          <p class="card-text text-center page1Header1" >Bienvenidos A Nuestra</p>
          <p class="card-text text-center page1Header2" >Reunion de <br>Cordinadores y Subcordinadores</p>
          <p class="card-text text-center page1Header3" >Agosto 20, 2023</p>
        </div>
      </div>
    </div>
  </section>

  <style>
      .page1Header1 {
font-size: 40px;
color: white;
letter-spacing: 0.3rem;
/* z-index: 0; */
font-weight: bold;
text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
}

.page1Header2 {
font-size: 60px;
color: white;
letter-spacing: 0.4rem;
/* z-index: 0; */
font-weight: bold;
text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
}

.page1Header3 {
  font-size: 40px;
  color: white;
  letter-spacing: 0.4rem;
  /* z-index: 0; */
  font-weight: bold;
  text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
  }
  </style> -->