<header class="App-header">
    <div id="header" style="height: 600px; padding-top: 5px;">
      <div class="card-body" id="header-body">
        <p class="card-text text-center" id="header-group-two" style="font-size: 70px">Bienvenidos</p>
        <p class="card-text text-center" id="header-group" style="font-size: 90px;">A Nuestra Comunidad Hispana</p>
      </div>
    </div>
  </header>