<section id="page1SemanalBulletin">
<div class="App-header">
    <div id="header" class="page1Jumbo">
      <div class="card-body page1BulletDiv" id="header-body">
        <p class="card-text text-center page1Header1" >Bienvenidos</p>
        <p class="card-text text-center page1Header2" >A Nuestra Comunidad Hispana</p>
      </div>
    </div>
  </div>
</section>
