<header class="App-header">
    <div class="card" id="header">
  
      <div class="card-body" id="header-body">
        <p class="card-text text-center" id="header-group-two">Bienvenidos</p>
        <h5 class="card-title text-center" id="header-welcome">
          A Nuestra Comunidad Hispana
        </h5>
        <p class="card-text text-center" id="header-group">St.Kilian Catholic Chuch</p>
      </div>
    </div>
  </header>