<div class="author-section" id="about-the-priest">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <%= image_tag 'https://img.ecatholic.com/11377/pictures-thumb/2019/10/Msgr%20Rowan%202.jpg?t=1569941519000', class: "rounded-circle", alt:"Monsignor Mark Rowen", width:"350px"%>
      </div>
      <div class="col-sm-7">
        <h2>Monsignor Mark Rowen</h2>
        <h5>Pastor de la Parroquia de St.Kilian</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada
          diam sit amet nulla dapibus, in venenatis elit consequat. Sed ac nisl
          non felis sodales luctus. Integer tempus leo vel nibh sollicitudin,
          eget tempor lacus dignissim.
        </p>
        <p>¡Estoy en la increíble Parroquia de St. Kilian todos los Miércoles de 4 PM a 6:30 PM! Si necesitas hablar conmigo, solo llámame o envíame un mensaje, ¡Haré mi mejor esfuerzo para responder súper rápido en cuando reciba tu mensaje! ¡Bendiciones!</p>
      </div>
    </div>
  </div>
</div>