<div class="author-section" id="about-the-priest">
  <div class="container">
    <div class="row">
      <div class="col-md-5 d-flex align-items-center justify-content-center">
        <%= image_tag 'profile/romulo.png', class: "rounded-circle", alt:"Padre Romulo", width:"350px"%>
      </div>
      <div class="col-md-7">
        <h2>Padre Romulo Gomez</h2>
        <h5>Sacerdote de la Comunidad Hispana</h5>
        <p>¡Saludos a todos, con gran entusiasmo comparto mi historia!</p>
        <p>Soy el Padre Rómulo, orgullosamente nacido en Rionegro, Antioquia, Colombia. ¡Qué honor es para mí haber sido ordenado Sacerdote en mi amada ciudad el 3 de Noviembre de 1984! Desde ese momento, he emprendido un emocionante viaje en el servicio a Dios y a mi comunidad.</p>
        <p>Mis raíces me llevaron a la Diócesis de Ocaña, en el norte de Santander. Durante 20 años, con dedicación y pasión, ejercí el rol de Párroco, dejando una huella profunda en la Diócesis que siempre llevaré en mi corazón. Luego, en el año 2005, un nuevo capítulo comenzó cuando aterricé en Nueva York. Mi misión me llevó a la parroquia de Blessed Sacrament en el Bronx, y luego, mi camino me guió hasta Long Island, donde actualmente resido en la Parroquia de Saint José de Babylon, junto con dos parroquias más, Miraculus Medalla en Wyandanch y San Kilian en Farmingdale.</p>
        <p>Con orgullo puedo decir que he servido como Sacerdote durante 39 años. Mi llamado proviene directamente de Jesús, quien me reveló la importancia de servir a aquellos que necesitan el amor y la ayuda de Dios. Cada día, encuentro motivación en poder estar presente en las vidas de quienes enfrentan desafíos y dificultades.</p>
        <p>Que las bendiciones de Dios sigan derramándose abundantemente sobre todos ustedes. ¡Espero seguir compartiendo momentos llenos de fe y alegría en este camino que hemos emprendido juntos!</p>
        <p>¡Estoy en la increíble Parroquia de St. Kilian todos los Miércoles de 4 PM a 6:30 PM! Si necesitas hablar conmigo, solo llámame o envíame un mensaje, ¡Haré mi mejor esfuerzo para responder súper rápido en cuando reciba tu mensaje! ¡Bendiciones!</p>
      </div>
    </div>
  </div>
  </div>