

<!-- <%= render "/partials/placeholder" %> -->


<section id="bodas">
    <div class="jumbotron text-center">
    <h1 class="display-4 text-center"><%= t('bodas-heading') %></h1>
        <%= t('bodas-body').html_safe %>
      <%= image_tag 'noticias/quince2.png', class: "quince-image" %>

        <hr class="my-4">
       
      </div>
</section>