<footer>
  <div class="container-fluid">
  <div class="row footer-section" id="">
    <div class="card col-lg-3 col-sm-12" id="ind-div-footer">
      <div class="card-body"></div>
      <!-- <img src="..." class="card-img-top" alt="...">  -->
      <a href="#" class="btn btn-primary">Test</a>
      <a href="#" class="btn btn-primary">Test</a>
      <a href="#" class="btn btn-primary">Test</a>
    </div>

    <div class="card col-lg-3 col-sm-12" id="ind-div-footer">
      <div class="card-body"></div>
      <a href="/" class="btn btn-primary">Home</a>
      <a href="/about" class="btn btn-primary">About</a>
      <a href="/virtus" class="btn btn-primary">Virtus</a>
    </div>

    <div class="card col-lg-3 col-sm-12" id="ind-div-footer">
      <div class="card-body"></div>
      <a href="/contact" class="btn btn-primary">Contact</a>
      <a href="/videos" class="btn btn-primary">Videos</a>
      <a href="/dailyword" class="btn btn-primary">Lectura</a>
    </div>

    <div class="card col-lg-3 col-sm-12" id="ind-div-footer">
      <div class="card-body"></div>
      <a href="/events" class="btn btn-primary">Events</a>
      <a
        href="https://www.youtube.com/@seguidoresdejesus1622/featured"
        class="btn btn-primary"
        >Subscribe</a
      >
      <a href="/calendar" class="btn btn-primary">Calendar</a>
      <!-- <a href="#" class="btn btn-primary">Daily Verse</a>  -->
    </div>
  </div>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025)">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="/">Seguidores de Jesus</a>
    <div style="padding-top: 10px">
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a href="/contact" class="me-4 link-secondary">
        <i class="fab fa-google"></i>
      </a>

      <a
        href="https://www.youtube.com/@seguidoresdejesus1622/featured"
        class="me-4 link-secondary"
      >
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>
  </div>
</footer>
