<footer>
  <div class="container-fluid">
  <div class="row footer-section" id="">
    <div class="card col-lg-3 col-sm-12" id="ind-div-footer">
      <div class="card-body"></div>
      <a class="" style="font-size: 20px; margin-top: 0;" href="/">Seguidores de Jesus</a>
      <%= image_tag "logowhitedove.jpg", class: "", style: "width: 70px; margin: 0 auto;" %>
      <a href="/" class="btn-primary">Home</a>
      <a href="/about" class="btn-primary">About</a>
    </div>

    <div class="card col-lg-3 col-sm-12" id="ind-div-footer">
      <div class="card-body"></div>

      <a href="/virtus" class="btn-primary">VIRTUS</a>
      <a href="/videos" class="btn-primary">Videos</a>
      <a href="/dailyword" class="btn-primary">Lectura</a>
      <a href="/weekly_bulletin" class="btn-primary">Bulletin</a>
      <a href="#" class="btn-primary">Testimonios</a>

    </div>

    <div class="card col-lg-3 col-sm-12" id="ind-div-footer">
      <div class="card-body"></div>
      <a href="/contact" class="btn-primary">Contact</a>
      <a href="/events" class="btn-primary">Events</a>
      <a
        href="https://www.youtube.com/@seguidoresdejesus1622/featured"
        class="btn-primary"
        >Subscribe</a
      >
      <a href="/calendar" class="btn-primary">Calendar</a>
      <a href="#" class="btn-primary">Oraciones</a>
    </div>

    <div class="card col-lg-3 col-sm-12" id="ind-div-footer">
      <div class="card-body"></div>
      <p class="address">485 Conklin Street</p>
      <p class="address">Farmingdale, New York 11735</p>
      <p class="address">(516) 249-0127</p>
    </div>
  </div>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025)">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="/">Seguidores de Jesus</a>
    <div style="padding-top: 10px">
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a href="/contact" class="me-4 link-secondary">
        <i class="fab fa-google"></i>
      </a>

      <a
        href="https://www.youtube.com/@seguidoresdejesus1622/featured"
        class="me-4 link-secondary"
      >
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>
  </div>
</footer>
