  

    <div class="row footer-section" id="">

      <div class="card col-lg-3 col-sm-12" id="ind-div-footer">
        <div class="card-body"></div>
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <a href="#" class="btn btn-primary">Test</a>
        <a href="#" class="btn btn-primary">Test</a>
        <a href="#" class="btn btn-primary">Test</a>
      </div>

      <div class="card col-lg-3 col-sm-12" id="ind-div-footer">
        <div class="card-body"></div>
        <a href="/" class="btn btn-primary">Home</a>
        <a href="/about" class="btn btn-primary">About Us</a>
        <a href="#" class="btn btn-primary">Our Mission</a>
      </div>

      <div class="card col-lg-3 col-sm-12" id="ind-div-footer">
        <div class="card-body"></div>
        <a href="/contact" class="btn btn-primary">Contact Us</a>
        <a href="/videos" class="btn btn-primary">Videos</a>
        <a href="#" class="btn btn-primary">Testimonials</a>
      </div>

      <div class="card col-lg-3 col-sm-12" id="ind-div-footer">
        <div class="card-body"></div>
        <a href="#" class="btn btn-primary">Events</a>
        <a href="#" class="btn btn-primary">Subscribe</a>
        <a href="/calendar" class="btn btn-primary">Calendar</a>
        <!-- <a href="#" class="btn btn-primary">Daily Verse</a> -->
      </div>
      
    </div>
  
