
<section id="" style="padding-bottom:50px;">

<div style="width: 50%; margin: 0px auto; padding: 20px; text-align: center;">
    <h2 id="videos-heading" class="">Te Invitamos Compartir con NOSOTROS!!</h2>
</div>

<div class="container">
  <div class="row">

    <div class="col-lg-4 col-md-12 ind-card text-center">
        <div class="card" >
          <%= image_tag('jovenes.jpg') %>
          <div class="card-body">
            <h4 class="card-title">Grupo Juvenil - Sabados</h4>
            <h5 class="card-title">50 Cherry St. Farmingdale NY 11735 (Cafeteria)</h5>
            <h6 class="card-text">7:45 PM - 9:30 PM</h6>
            <p class="card-text">Como jóvenes miembros de la iglesia, queremos descubrir el amor de Dios. ¿Y tú?</p>
            <!-- <a href="#" class="btn btn-primary">Button</a> -->
          </div>
        </div>
      </div>
    
    <div class="col-lg-4 col-md-12 ind-card text-center">
      <div class="card">
        <%= image_tag('church.jpg') %>
        <div class="card-body">
          <h4 class="card-title">Misa (Español) - Sabados</h4>
          <h5 class="card-title">485 Conklin St. Farmingdale NY 11735 (St.Kilian Roman Catholic Church)</h5>
          <h6 class="card-text">6:00 PM - 7:30 PM</h6>
          <p class="card-text">Nos encanta crear una cultura positiva mediante la creación de dinámicas breves que involucren la participación de nuestra comunidad.</p>
          <!-- <a href="#" class="btn btn-primary">Button</a> -->
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 ind-card text-center">
        <div class="card">
          <%= image_tag('assamblea.jpg') %>
          <div class="card-body">
            <h4 class="card-title">Grupo de Oracion - Miercoles</h4>
            <h5 class="card-title">50 Cherry St. Farmingdale NY 11735 (Cafeteria)</h5>
            <h6 class="card-text">6:15 PM - 9:00 PM</h6>
            <p class="card-text">La preparación cuando Dios venga es esencial. Aprendemos sobre sus enseñanzas y lo que debemos hacer para convertirnos en mejores seres, para que cuando llegue Dios estemos listos.</p>
            <!-- <a href="#" class="btn btn-primary">Button</a> -->
          </div>
        </div>
      </div>

  </div>
</div>
</section>