
<section id="" style="padding-bottom:50px;">

<div class="events-heading">
    <h2 id="videos-heading" class="">Te Invitamos Compartir con NOSOTROS!!</h2>
</div>

<div class="container">
  <div class="row">

    <div class="col-lg-4 col-md-12 ind-card text-center">
        <div class="card" >
          <%= image_tag('jovenes.jpg') %>
          <div class="card-body">
            <h4 class="card-title">Grupo Juvenil - Sabados</h4>
            <h5 class="card-title">50 Cherry St. Farmingdale NY 11735 (Cafeteria)</h5>
            <h6 class="card-text">7:45 PM - 9:30 PM</h6>
            <p class="card-text">¡Estamos emocionados de invitarte a formar parte de nuestro grupo juvenil en la Iglesia Católica! Aquí encontrarás un espacio lleno de alegría, donde podrás descubrir tu propósito, hacer amigos increíbles y fortalecer tu relación con Dios. ¡Te esperamos con los brazos abiertos!</p>
            <a href="#" class="btn btn-primary" style="margin-top: 10px;">Quieres ver mas?</a>
          </div>
        </div>
      </div>
    
    <div class="col-lg-4 col-md-12 ind-card text-center">
      <div class="card">
        <%= image_tag('church.jpg') %>
        <div class="card-body">
          <h4 class="card-title">Misa (Español) - Sabados</h4>
          <h5 class="card-title">485 Conklin St. Farmingdale NY 11735 (St.Kilian Roman Catholic Church)</h5>
          <h6 class="card-text">6:00 PM - 7:30 PM</h6>
          <p class="card-text">¡Ven y celebra con nosotros la misa, el momento más sagrado y lleno de bendiciones en la Iglesia! Será un encuentro único con la presencia divina, donde podremos renovar nuestro espíritu, recibir la Palabra de Dios y fortalecer nuestra comunión como comunidad de creyentes. ¡No te lo pierdas, te esperamos con alegría y entusiasmo!</p>
          <a href="#" class="btn btn-primary" style="margin-top: 10px;">Quieres ver mas?</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 ind-card text-center">
        <div class="card">
          <%= image_tag('assamblea.jpg') %>
          <div class="card-body">
            <h4 class="card-title">Grupo de Oracion - Miercoles</h4>
            <h5 class="card-title">Luz de Mundo</h5>
            <h5 class="card-title">50 Cherry St. Farmingdale NY 11735 (Cafeteria)</h5>
            <h6 class="card-text">6:15 PM - 9:00 PM</h6>
            <p class="card-text">¿Buscas un lugar donde compartir tu fe, conectarte con otros creyentes y fortalecer tu relación con Dios? ¡No busques más! Únete a nuestro vibrante grupo de oración en la Iglesia católica y descubre una comunidad apasionada que te animará y te guiará en tu camino espiritual.</p>
            <a href="#" class="btn btn-primary" style="margin-top: 10px;">Quieres ver mas?</a>
          </div>
        </div>
     </div>

  </div>
</div>


</section>



      <!-- <div class="col-lg-4 col-md-12 ind-card text-center">
        <div class="card">
          <%= image_tag('assamblea.jpg') %>
          <div class="card-body">
            <h4 class="card-title">Grupo de Oracion - Miercoles</h4>
            <h5 class="card-title">Luz de Mundo</h5>
            <h5 class="card-title">50 Cherry St. Farmingdale NY 11735 (Cafeteria)</h5>
            <h6 class="card-text">6:15 PM - 9:00 PM</h6>
            <p class="card-text">¿Buscas un lugar donde compartir tu fe, conectarte con otros creyentes y fortalecer tu relación con Dios? ¡No busques más! Únete a nuestro vibrante grupo de oración en la Iglesia católica y descubre una comunidad apasionada que te animará y te guiará en tu camino espiritual.</p>
            <a href="#" class="btn btn-primary" style="margin-top: 10px;">Quieres ver mas?</a>
          </div>
        </div>
      </div> -->