
<section id="" style="padding-bottom:50px;">

<div style="width: 50%; margin: 0px auto; padding: 20px; text-align: center;">
    <h2 id="videos-heading" class="">Te Invitamos Compartir con NOSOTROS!!</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="card">
        <%= image_tag('assamblea.jpg') %>
        <div class="card-body">
          <h4 class="card-title">Grupo de Oracion - Miercoles</h4>
          <h5 class="card-title">50 Cherry St. Farmingdale NY 11735 (Cafeteria)</h5>
          <p class="card-text">Card description goes here.</p>
          <!-- <a href="#" class="btn btn-primary">Button</a> -->
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-12">
      <div class="card">
        <%= image_tag('church.jpg') %>
        <div class="card-body">
          <h4 class="card-title">Misa (Español) - Sabados</h4>
          <h5 class="card-title">485 Conklin St. Farmingdale NY 11735 (Cafeteria)</h5>
          <p class="card-text">Card description goes here.</p>
          <!-- <a href="#" class="btn btn-primary">Button</a> -->
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12">
        <div class="card">
          <%= image_tag('jovenes.jpg') %>
          <div class="card-body">
            <h4 class="card-title">Grupo Juvenil - Sabados</h4>
            <h5 class="card-title">50 Cherry St. Farmingdale NY 11735 (Cafeteria)</h5>
            <p class="card-text">Card description goes here.</p>
            <!-- <a href="#" class="btn btn-primary">Button</a> -->
          </div>
        </div>
      </div>

  </div>
</div>


</section>