<div class="author-section" id="about-the-priest">
    <div class="container">
      <div class="row">
        <div class="col-md-5 d-flex align-items-center justify-content-center">
            <%= image_tag 'profile/bishopbarres.jpg', class: 'rounded-circle' %>
        </div>
        <div class="col-md-7">
          <h2>Most Reverend</h2>
          <h2><%= t('bishop.name') %></h2>
          <h5><%= t('bishop.subtitle') %></h5>
          <p><%= t('bishop.p1') %></p>
          <button class="btn btn-primary" href="/about-the-bishop" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/about-the-bishop'; }, 100);">Aprender Mas?</button>
        </div>
      </div>
    </div>
    </div>