<section id="" style="padding-bottom:50px; background: #e6f0fe ">

    <div style="width: 50%; margin: 0px auto; padding: 20px; text-align: center;">
        <h2 id="videos-heading" class="">Meet our Team!</h2>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <div class="card">
            <%= image_tag('assamblea.jpg') %>
            <div class="card-body">
              <h4 class="card-title">Grupo de Oracion - Miercoles</h4>
              <h5 class="card-title">50 Cherry St. Farmingdale NY 11735 (Cafeteria)</h5>
              <p class="card-text">Card description goes here.</p>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-12">
          <div class="card">
            <%= image_tag('church.jpg') %>
            <div class="card-body">
              <h4 class="card-title">Misa (Español) - Sabados</h4>
              <h5 class="card-title">485 Conklin St. Farmingdale NY 11735 (Cafeteria)</h5>
              <p class="card-text">Card description goes here.</p>
            </div>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-12">
            <div class="card">
              <%= image_tag('jovenes.jpg') %>
              <div class="card-body">
                <h4 class="card-title">Grupo Juvenil - Sabados</h4>
                <h5 class="card-title">50 Cherry St. Farmingdale NY 11735 (Cafeteria)</h5>
                <p class="card-text">Card description goes here.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
    </section>

    <div class="container" >
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-4 col-md-12 text-center mb-4">
            <img src="person1.jpg" class="rounded-circle" alt="Person 1" width="150">
            <h5>Person 1</h5>
          </div>
          <div class="col-lg-4 col-md-12 text-center mb-4">
            <img src="person2.jpg" class="rounded-circle" alt="Person 2" width="150">
            <h5>Person 2</h5>
          </div>
          <div class="col-lg-4 col-md-12 text-center mb-4">
            <img src="person2.jpg" class="rounded-circle" alt="Person 3" width="150">
            <h5>Person 3</h5>
          </div>
          <div class="col-lg-4 col-md-12 text-center mb-4">
            <img src="person2.jpg" class="rounded-circle" alt="Person 4" width="150">
            <h5>Person 4</h5>
          </div>
          <div class="col-lg-4 col-md-12 text-center mb-4">
            <img src="person2.jpg" class="rounded-circle" alt="Person 5" width="150">
            <h5>Person 5</h5>
          </div>
        </div>
      </div>
      