
<section id="rosarySection">
<div class="container mt-4">
    <div class="row rosary-section text-center">
        <div class="col-md-6 text-center">
            <img src="https://seguidoresdejesus.s3.amazonaws.com/rosary.png" class="img-fluid" alt="Imagen del Rosario">
        </div>
        <div class="col-md-6 rosary-section-content">
            <h2 class="display-4">Abraza el Poder del Rosario</h2>
            <p class="lead">El Rosario, una oración sagrada y poderosa, ha sido valorada por generaciones al actuar como una guía espiritual que nos orienta a través de las distintas etapas de la vida, tanto en sus momentos alegres como en sus pruebas.</p>
            <p>Versículo: "Dichoso el corazón que busca consuelo en las cuentas, porque en cada Ave María se encuentra fuerza, paz y un destello de la luz del cielo." (Salmos 1:1)</p>
            <p>Únete a nosotros todos los domingos a las 5 AM mientras nos reunimos para rezar el Rosario, tejiendo una trama de fe, esperanza y unidad.</p>
            <a href="/resos" class="btn btn-primary btn-lg">¿Quieres Aprender Más?</a>
        </div>
    </div>
</div>
</section>