
<section id="rosarySection">
<div class="container mt-4">
    <div class="row rosary-section text-center">
        <div class="col-md-6 text-center">
            <img src="https://seguidoresdejesus.s3.amazonaws.com/rosary.png" class="img-fluid" alt="Imagen del Rosario">
        </div>
        <div class="col-md-6 rosary-section-content">
            <h2 class="display-4">Abraza el Poder del Rosario</h2>
            <%= t('resos-partial-ptags').html_safe%>
            <a href="/resos" class="btn btn-primary btn-lg"><%= t('quieres-aprender-mas-button') %></a>
        </div>
    </div>
</div>
</section>