<style>
    body {
        background-color: #f8f9fa;
    }

    .rosary-section {
        padding: 30px;
        margin: 100px 20px;
    }

    .rosary-section img {
        /* border-radius: 10px; */
        width: 280px;
        margin: 0 auto;
    }

    .rosary-section-content {
        padding-left: 20px;
    }

    .rosary-section h2 {
        color: #007bff;
        font-weight: bold;
    }

    .rosary-section p {
        color: #343a40;
    }

    .rosary-section a.btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        font-weight: bold;
    }

    .rosary-section a.btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
</style>
</head>
<body>
<div class="container mt-4">
    <div class="row rosary-section text-center">
        <div class="col-md-6 text-center">
            <img src="https://seguidoresdejesus.s3.amazonaws.com/rosary.png" class="img-fluid" alt="Imagen del Rosario">
        </div>
        <div class="col-md-6 rosary-section-content">
            <h2 class="display-4">Abraza el Poder del Rosario</h2>
            <p class="lead">El Rosario, una oración sagrada y poderosa, ha sido valorada por generaciones al actuar como una guía espiritual que nos orienta a través de las distintas etapas de la vida, tanto en sus momentos alegres como en sus pruebas.</p>
            <p>Versículo: "Dichoso el corazón que busca consuelo en las cuentas, porque en cada Ave María se encuentra fuerza, paz y un destello de la luz del cielo." (Salmos 1:1)</p>
            <p>Únete a nosotros todos los domingos a las 5 AM mientras nos reunimos para rezar el Rosario, tejiendo una trama de fe, esperanza y unidad.</p>
            <a href="#" class="btn btn-primary btn-lg">¿Quieres Aprender Más?</a>
        </div>
    </div>
</div>
</body>