<div id="videos-section">
  <h2 id="videos-heading">Ven Y Goza Con Nosotros</h2>
  <div class="row">
    <!-- </div> -->
    <!-- <div id="videos"> -->
    <% @videos.map do |video| %>

    <div class="col-lg-6">
      <div id="video">
        <h3><%= video.name %></h3>
        <iframe
          src="<%= video.link_to_video %>"
          allowFullScreen
          title="<%= video.name %>"
        ></iframe>
        <figcaption><%= video.date_created %></figcaption>
      </div>
    </div>

    <% end %>

  </div>
</div>
