<div id="videos-section">
  <h2 id="videos-heading">Ven Y Goza Con Nosotros</h2>
  <div class="row">
    <!-- </div> -->
    <!-- <div id="videos"> -->

    <div class="col-lg-6">
      <div id="video">
        <h3>Canciones Navideñas</h3>
        <iframe
          src="https://www.youtube.com/embed/01jnClnzO2c"
          allowFullScreen
          title="Canciones Navideñas"
        ></iframe>
        <figcaption>January 5, 2023</figcaption>
      </div>
    </div>

    <div class="col-lg-6">
      <div id="video" class="col-sm-12">
        <h3>La Unica Razon</h3>
        <iframe
          src="https://www.youtube.com/embed/1PWTbCcNdrU"
          allowFullScreen
          title="La Unica Razon"
        ></iframe>
        <figcaption>December 4, 2022</figcaption>
      </div>
    </div>

    <div class="col-lg-6">
      <div id="video" class="col-sm-12">
        <h3>Ya No Soy Esclavo</h3>
        <iframe
          src="https://www.youtube.com/embed/wlZAtiAJAZI"
          allowFullScreen
          title="Ya No Soy Esclavo"
        ></iframe>
        <figcaption>December 4, 2022</figcaption>
      </div>
    </div>

    <div class="col-lg-6">
      <div id="video" class="col-lg-6">
        <h3>Jesus Mirame</h3>
        <iframe
          src="https://www.youtube.com/embed/9Gwil-bhVUY"
          allowFullScreen
          title="Jesus Mirame"
        ></iframe>
        <figcaption>Septiembre 29, 2022</figcaption>
      </div>
    </div>

    <div class="col-lg-6">
      <div id="video" class="col-lg-6">
        <h3>El Borracho Y Cantinero</h3>
        <iframe
          src="https://www.youtube.com/embed/cg3gFfJwKTY"
          allowFullScreen
          title="El Borracho Y Cantinero"
        ></iframe>
        <figcaption>Septiembre 29, 2022</figcaption>
      </div>
    </div>

    <div class="col-lg-6">
      <div id="video" class="col-lg-6">
        <h3>Los Que Esperan en Jesus</h3>
        <iframe
          src="https://www.youtube.com/embed/lGsWlo2NBhI"
          allowFullScreen
          title="Los Que Esperan en Jesus"
        ></iframe>
        <figcaption>July 17, 2022</figcaption>
      </div>
    </div>
  </div>
</div>
