<section id="events" style="padding: 20px;">
<div id="calendar" >
  <div id="personalInfo" style="padding: 15px">
    <h3 class="text-white"><%= t('calendar-heading') %></h3>
    <p class="text-white"><%= t('calendar-street') %></p>
    <p class="text-white"><%= t('calendar-city') %></p>
  </div>

  <iframe title="stkilianEvents" src="https://calendar.google.com/calendar/embed?src=4236f76ede532a28fd8ca6e5900cbab64a47b82f80b03737ac0a6641569e6b16%40group.calendar.google.com&ctz=America%2FNew_York" frameborder="0"></iframe>
</div>
</section>