


<section id="events" style="padding-bottom: 50px">
  <div class="events-heading">
    <h2 id="videos-heading" class="text-white">Bulletin Mensual de Virtus</h2>
  </div>



    <% if @document %>
        <div class="virtus" id="">
            <% if current_user %>
                <%= link_to 'Edit', edit_virtu_path(@document), class: 'btn btn-primary m-2' %> 
                <%= link_to 'Delete', virtu_path(@document), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger m-2' %>
            <% end %>
            <embed src="<%= rails_blob_path(@document.file) %>" type="application/pdf" width="100%" height="600px">
        </div>

    <% else %>
        
        <div class="videos-heading">
        <h2 id="videos-heading" class="text-white">Bulletin No esta disponible en este momento...</h2>
        <% if current_user %>
            <%= link_to 'New Virtus Bulletin', new_virtu_path, class: 'btn btn-primary m-2'  %>
        <% end %>
        </div>
    <% end %>
</section>
