
<section id="events" style="padding-bottom: 50px" class="text-center">
  <div class="events-heading">
    <h2 id="videos-heading" class="text-white">Add New Document</h2>
  </div>

<%= form_with(model: @document, url: virtus_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :file, class: "text-white"%>
    <%= form.file_field :file, class: 'btn btn-primary m-2'%>
  </div>

  <div class="actions">
    <%= form.submit "Upload Document", class: 'btn btn-primary m-2' %>
  </div>
<% end %>

</section>

