<div class="container text-center">
    <div
      class="oracion">
      <h2>Acto de Contrición</h2>
      <h5>Señor mío, ¡Jesucristo!</h5>
      <h5>Dios y Hombre verdadero,</h5>
      <h5>Creador, Padre y Redentor mío; por ser Tu quién eres,</h5>
      <h5>Bondad infinita, y porque te amo sobre todas las cosas,</h5>
      <h5>Me pesa de todo corazón de haberte ofendido;</h5>
      <h5>También me pesa porque podrías castigarme con las penas del infierno.</h5>
      <h5>Ayudado de tu divina gracia propongo firmemente nunca más pecar,</h5>
      <h5>Confesarme y cumplir la penitencia que me fuese impuesta.</h5>
      <h4>Amen!</h4>
    </div>
  </div>



  



