<div class="container text-center">
    <div
      class="oracion">
      <h2>El Credo de los Apóstoles</h2>
      <h5>Creo en Dios Padre,</h5>
      <h5>Todopoderoso,</h5>
      <h5>Creador del cielo y de la tierra.</h5>
      <h5>Y en Jesucristo, su único Hijo, Nuestro Señor,</h5>
      <h5>Que fue concebido por obra y gracia del Espíritu Santo,</h5>
      <h5>Nació de Santa María Virgen,</h5>
      <h5>Padeció bajo el poder de Poncio Pilato,</h5>
      <h5>Fue crucificado, muerto y sepultado, descendió a los infiernos,</h5>
      <h5>Al tercer día resucitó entre los muertos,</h5>
      <h5>Subió a los cielos y está sentado a la derecha de Dios Padre, Todopoderoso.</h5>
      <h5>Desde allí vendrá a juzgar a vivos y a muertos.</h5>
      <h5>Creo en el Espíritu Santo, la Santa Iglesia Católica, la comunión de los santos,</h5>
      <h5>El perdón de los pecados, la resurrección de la carne y la vida perdurable.</h5>
      <h4>Amen!</h4>
    </div>
  </div>
