<div class="container text-center">
    <div
      class="oracion">
      <h2>Title</h2>
      <h5></h5>
      <h5></h5>
      <h5></h5>
      <h5></h5>
      <h5></h5>
      <h5></h5>
      <h5></h5>
      <h5></h5>
      <h5></h5>
      <h4>Amen!</h4>
    </div>
  </div>