<div class="container text-center">
    <div
      class="oracion">
      <h2>Dios Te Salve</h2>
      <h5>Dios te salve, María, llena eres de gracia,</h5>
      <h5>El Seńor está contigo.</h5>
      <h5>Bendita tú eres entre todas las mujeres,</h5>
      <h5>Y bendito es el fruto de tu vientre, Jesús.</h5>
      <h5>Santa María, Madre de Dios,</h5>
      <h5>Ruega por nosotros, pecadores,</h5>
      <h5>Ahora y en la hora de nuestra muerte</h5>
      <h4>Amen!</h4>
    </div>
  </div>


  
 
 
  