<div class="container text-center">
    <div
      class="oracion">
      <h2>La Salve</h2>
      <h5>Dios te salve, Reina y Madre, madre de misericordia,</h5>
      <h5>Vida, dulzura y esperanza nuestra,</h5>
      <h5>Dios te salve. A ti llamamos los desterrados hijos de Eva.</h5>
      <h5>A ti suspiramos gimiendo y llorando en este valle de lágrimas.</h5>
      <h5>Ea, pues, Señora, abogada nuestra:</h5>
      <h5>Vuelve a nosotros tus ojos misericordiosos.</h5>
      <h5>Y después de este destierro, muéstranos a Jesús,</h5>
      <h5>Fruto bendito de tu vientre. Oh clemente, oh piadosa, oh dulce Virgen María.</h5>
      <h5>Ruega por nosotros, Santa Madre de Dios,</h5>
      <h5>Para que seamos dignos de alcanzar las promesas de nuestro Señor Jesucristo.</h5>
      <h4>Amen!</h4>
    </div>
  </div>
n