<div class="container text-center">
  <div class="oracion">
    <h2>Letanía a la Virgen Maria</h2>
    <h5>Señor, ten piedad</h5>
    <h5>Cristo, ten piedad</h5>
    <h5>Señor, ten piedad.</h5>
    <h5>Cristo, óyenos.</h5>
    <h5>Cristo, escúchanos.</h5>
    <h5>Dios, Padre celestial,</h5>
    <h5 style="font-weight: 800">Ten piedad de nosotros.</h5>
    <br />
    <h5>Dios, Hijo, Redentor del mundo,</h5>
    <h5>Dios, Espíritu Santo,</h5>
    <h5>Santísima Trinidad,</h5>
    <h5>Un solo Dios,</h5>
    <h5>Santa María,</h5>
    <h5 style="font-weight: 800">Ruega por nosotros.</h5>
    <br />
    <h5>Santa Madre de Dios,</h5>
    <h5>Santa Virgen de las Vírgenes,</h5>
    <br />
    <h5>Madre de Cristo,</h5>
    <h5>Madre de la Iglesia,</h5>
    <h5>Madre de la misericordia,</h5>
    <h5>Madre de la divina gracia,</h5>
    <h5>Madre de la esperanza,</h5>
    <h5>Madre purísima,</h5>
    <h5>Madre castísima,</h5>
    <h5>Madre siempre virgen,</h5>
    <h5>Madre inmaculada,</h5>
    <h5>Madre amable,</h5>
    <h5>Madre admirable,</h5>
    <h5>Madre del buen consejo,</h5>
    <h5>Madre del Creador,</h5>
    <h5>Madre del Salvador,</h5>
    <br />
    <h5>Virgen prudentísima,</h5>
    <h5>Virgen digna de veneración,</h5>
    <h5>Virgen digna de alabanza,</h5>
    <h5>Virgen poderosa,</h5>
    <h5>Virgen clemente,</h5>
    <h5>Virgen fiel,</h5>
    <br />
    <h5>Espejo de justicia,</h5>
    <h5>Trono de la sabiduría,</h5>
    <h5>Causa de nuestra alegría,</h5>
    <h5>Vaso espiritual,</h5>
    <h5>Vaso digno de honor,</h5>
    <h5>Vaso de insigne devoción,</h5>
    <h5>Rosa mística,</h5>
    <h5>Torre de David,</h5>
    <h5>Torre de marfil,</h5>
    <h5>Casa de oro,</h5>
    <h5>Arca de la Alianza,</h5>
    <h5>Puerta del cielo,</h5>
    <br />
    <h5>Estrella de la mañana,</h5>
    <h5>Salud de los enfermos,</h5>
    <h5>Refugio de los pecadores,</h5>
    <h5>Consuelo de los migrantes,</h5>
    <h5>Consoladora de los afligidos,</h5>
    <h5>Auxilio de los cristianos,</h5>
    <h5>Reina de los Ángeles,</h5>
    <h5>Reina de los Patriarcas,</h5>
    <h5>Reina de los Profetas,</h5>
    <h5>Reina de los Apóstoles,</h5>
    <h5>Reina de los Mártires,</h5>
    <br />
    <h5>Reina de los Confesores,</h5>
    <h5>Reina de las Vírgenes,</h5>
    <h5>Reina de todos los Santos,</h5>
    <h5>Reina concebida sin pecado original,</h5>
    <h5>Reina asunta a los Cielos,</h5>
    <h5>Reina del Santísimo Rosario,</h5>
    <h5>Reina de la familia,</h5>
    <h5>Reina de la paz.</h5>
    <br />
    <h5>Cordero de Dios, que quitas el pecado del mundo,</h5>
    <h5 style="font-weight: 800">Perdónanos, Señor.</h5>
    <br />
    <h5>Cordero de Dios, que quitas el pecado del mundo,</h5>
    <h5 style="font-weight: 800">Escúchanos, Señor.</h5>
    <br />
    <h5>Cordero de Dios, que quitas el pecado del mundo,</h5>
    <h5 style="font-weight: 800">Ten misericordia de nosotros.</h5>
    <br />
    <h5>Ruega por nosotros, Santa Madre de Dios.</h5>
    <h5 style="font-weight: 800">
      Para que seamos dignos de las promesas de Cristo.
    </h5>
    <br />
    <h5 style="font-weight: 800">ORACIÓN.</h5>
    <h5>Te rogamos nos concedas,</h5>
    <h5>Señor Dios nuestro,</h5>
    <h5>Gozar de continua salud de alma y cuerpo,</h5>
    <h5>Y por la gloriosa intercesión</h5>
    <h5>De la bienaventurada siempre Virgen María,</h5>
    <h5>
      Vernos libres de las tristezas de la vida presente y disfrutar de las
      alegrías eternas.
    </h5>
    <h5>Por Cristo nuestro Señor.</h5>
    <h4>Amén.</h4>
  </div>
</div>
