<div class="container text-center">
    <div
      class="oracion">
      <h2>Oración de la Mañana</h2>
      <h5>Señor, en el silencio de este día que nace,</h5>
      <h5>vengo a pedirte paz, sabiduría y fuerza.</h5>
      <h5>Hoy quiero mirar al mundo con ojos llenos de amor.</h5>
      <h5>Ser paciente, comprensivo, humilde, suave y bueno.</h5>
      <h5>Ver a tus hijos detrás de las apariencias,</h5>
      <h5>como los ves tu mismo,</h5>
      <h5>para así poder apreciar la bondad de cada uno.</h5>
      <h5>Cierra mis oídos a toda murmuración.</h5>
      <h5>Guarda mi lengua de toda maledicencia.</h5>
      <h5>Que sólo los pensamientos que bendigan permanezcan en mi. </h5>
      <h5>Quiero ser tan bienintencionado y bueno</h5>
      <h5>que todos los que se acerquen a mi sientan tu presencia.</h5>
      <h5>Revísteme de tu bondad señor y haz que en este día yo te refleje.</h5>
      <h4>Amen!</h4>
    </div>
  </div>
