<div class="container text-center">
    <div
      class="oracion">
      <h2>Oración a San Miguel Arcángel</h2>
      <h5>San Miguel Arcángel, defiéndenos en la batalla,</h5>
      <h5>se tu nuestro amparo contra las perversidades y asechanzas del demonio,</h5>
      <h5>al cual te pedimos oh Dios que lo reprendas y lo mantengas bajo su imperio.</h5>
      <h5>Y tú príncipe de la milicia celestial,</h5>
      <h5>Con el divino poder que Dios te ha concedido,</h5>
      <h5>arroja al infierno a satanás y a los otros espíritus malignos</h5>
      <h5>que andan dispersos por el mundo buscando la perdición de las almas.</h5>
      <h4>Amen!</h4>
    </div>
  </div>


  
