<div class="container text-center">
  <div
    class="oracion">
    <h2>Padre Nuestro</h2>
    <h5>Padre Nuestro, Que estas en el cielo,</h5>
    <h5>Santificado sea tu nombre,</h5>
    <h5>Venga a nosotros tu reino</h5>
    <h5>
      Hagase tu voluntad aqui en la tierra como en el cielo,
    </h5>
    <h5>Danos hoy nuestro pan de cada dia,</h5>
    <h5>Perdona nuestras ofensas,</h5>
    <h5>
      Como tambien nosotros perdonamos a los que nos ofenden,
    </h5>
    <h5>No nos dejes caller en la tentacion,</h5>
    <h5>Y libranos del mal,</h5>
    <h4>Amen!</h4>
  </div>
</div>





