

<section id="events" style="padding-bottom:50px;">

    <div style="width: 50%; margin: 0px auto; padding: 20px; text-align: center;">
        <h2 id="videos-heading" class="text-white">Oraciones Comunes</h2>
    </div>
    
    <div class="container">


<div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-padre-nuestro-list" data-bs-toggle="list" href="#list-padre-nuestro" role="tab" aria-controls="list-padre-nuestro">Padre Nuestro</a>
        <a class="list-group-item list-group-item-action" id="list-ave-maria-list" data-bs-toggle="list" href="#list-ave-maria" role="tab" aria-controls="list-ave-maria">Ave Maria</a>
        <a class="list-group-item list-group-item-action" id="list-credo-list" data-bs-toggle="list" href="#list-credo" role="tab" aria-controls="list-credo">El Credo</a>
        <a class="list-group-item list-group-item-action" id="list-contricion-list" data-bs-toggle="list" href="#list-contricion" role="tab" aria-controls="list-contricion">Acto de Contricion</a>
        <a class="list-group-item list-group-item-action" id="list-manana-list" data-bs-toggle="list" href="#list-manana" role="tab" aria-controls="list-manana">Oracion de la Mañana</a>
        <a class="list-group-item list-group-item-action" id="list-rosario-list" data-bs-toggle="list" href="#list-rosario" role="tab" aria-controls="list-rosario">El Santo Rosario</a>
        <a class="list-group-item list-group-item-action" id="list-miguel-list" data-bs-toggle="list" href="#list-miguel" role="tab" aria-controls="list-miguel">Oracion A San Miguel Arcangel</a>
        <a class="list-group-item list-group-item-action" id="list-lasalve-list" data-bs-toggle="list" href="#list-lasalve" role="tab" aria-controls="list-lasalve">La Salve</a>



      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-padre-nuestro" role="tabpanel" aria-labelledby="list-padre-nuestro-list">
            <div>
                <iframe src="/pdfs/padre-nuestro.pdf" width="100%" height="600px"></iframe>
            </div>
        </div>
        <div class="tab-pane fade" id="list-ave-maria" role="tabpanel" aria-labelledby="list-ave-maria-list">
            <div>
                <iframe src="/pdfs/dios-te-salve.pdf" width="100%" height="600px"></iframe>
            </div>
        </div>
        <div class="tab-pane fade" id="list-credo" role="tabpanel" aria-labelledby="list-credo-list">
            <div>
                <iframe src="/pdfs/credo.pdf" width="100%" height="600px"></iframe>
            </div>
        </div>
        <div class="tab-pane fade" id="list-contricion" role="tabpanel" aria-labelledby="list-contricion-list">
            <div>
                <iframe src="/pdfs/contricion.pdf" width="100%" height="600px"></iframe>
            </div>
        </div>
        <div class="tab-pane fade" id="list-manana" role="tabpanel" aria-labelledby="list-manana-list">
            <div>
                <iframe src="/pdfs/manana.pdf" width="100%" height="600px"></iframe>
            </div>
        </div>
        <div class="tab-pane fade" id="list-rosario" role="tabpanel" aria-labelledby="list-rosario-list">
            <div>
                <iframe src="/pdfs/rosario.pdf" width="100%" height="600px"></iframe>
            </div>
        </div>

        <div class="tab-pane fade" id="list-miguel" role="tabpanel" aria-labelledby="list-miguel-list">
            <div>
                <iframe src="/pdfs/miguel.pdf" width="100%" height="600px"></iframe>
            </div>
        </div>

        <div class="tab-pane fade" id="list-lasalve" role="tabpanel" aria-labelledby="list-lasalve-list">
            <div>
                <iframe src="/pdfs/lasalve.pdf" width="100%" height="600px"></iframe>
            </div>
        </div>

      </div>
    </div>
  </div>

  </div>
  </section>