

// Iphone Portrait Mode
@media (min-width: 0px) and (max-width: 428px) {

    // Header Section from users.scss

    #header-welcome {
        font-size: 25px;
    }

    #header-body {
        margin: 70px auto;
        width:100%;
    }

    #header-group {
        font-size: 50px;
    }

    #header-group-two {
        font-size: 60px;
    }

    #header {
        height: 500px
    }


    // Navbar from the users.scss

    .inside-navbar {
        margin: 0px;
        padding: 0px
    }

    #navbar a {
        font-size: 16px;
        text-align: center;
    }

    .navbar-brand {
        font-size: 16px;
        padding: 0px; 
    }
    
    .navbar-toggler-icon:active {
        border-width: 1px
    }


    // Images within Header from users.scss

    #card-body {
        width: 100%

    }

    #first-image, 
    #second-image, 
    #third-image, 
    #fourth-image, 
    #fifth-image, 
    #sixth-image {
        display: none
    }


    // Misson Component from users.scss

  

    // Carousel on quotes from users.scss

    #carousel {
        display : none;
    }

    // Contact Form from users.scss

    .contact {
        width: 100%;
        padding: 5px
    }

    .section-title {
        width: 100%;
        padding-bottom: 10px;
        margin: 5px auto;
    }

    // Core Values from users.scss for about jovenes on homepage

    .media-body {
        width: 90%;
        text-align: center;
    }

    .media {
        height: 950px
    }

    .float-child {
        width: 100%;
    }

    .cVInfo {
        padding: 0px;
    }

    .second-jovenes-div {
        display: none
    }

    // Core Values from users.scss for about seguidores on about

    .seguidores-about {
        height: 1070px
    }


    // Events Page from the users.scss

    .events-heading{
        width: 95%;
        padding: 15px 0px
    }

    #search-form {
        width: 80%;
    }

    #ind-card-for-event {
        width: auto;
        margin: 5px
    }

    // Footer Section in users.scss

    .address {
        font-size: 16px;
    }

    .footer-section a {
        font-size: 16px
    }

    .footer-section .card {
        padding-bottom: 10px
    }

    // Calendar from events.scss

    #calendar {
        width: 100%
    }

    #calendar iframe {
        height: 400px
    }

    #personalInfo p {
        font-size: 16px;
    }

    // Videos from videos.scss

    #videos-section {
        padding: 0px;
        margin: 5px
    }

    #video figcaption {
        font-size: 12px
    }

    #video h3 {
        font-size: 14px;
    }

    #videos-heading {
        padding: 10px 5px;
    }

    .delete-video {
        padding-right: 5px
    }

    .logo {
        display: none
    }


    // Daily word from members.scss

    
    .evan-body-p p {
        font-size: 14px
    }

    .pensamientos-p p {
        font-size: 14px;
    }

    .evan-body-p p {
        font-size: 14px
    }

    .autor-p p {
        font-size: 10px
    }


    // Placeholder partial from members.scss

    // Features section from the members.scss

    #features .feature {
        margin: 0px 0px 0px 12px;
        // padding: 0px;
        width: 93%
    }

    #ind-card {
        padding: 0px
    }

    // #features {
    //     padding: 0px
    // }

    .innovation-image {
        width: 100px
    }

    .features-text {
        width: 80%;
        margin: 0 auto;
      }

  
    // New Event Form from events.scss

   .newCourseForm {
    margin: 20px auto;
    width: 95%
   }

   .welcomeBack {
    padding-bottom: 10px;
   }


   // Weekly Bulletin from the members.scss
   

   .bulletin .bulletin-img {
    width: 300px
   }

   #events .bulletin {
    width: 100%;
    padding: 0px
   }


   .virtus {
    width: 95%
   }

   .virtus iframe {
    height: 800px
   }


// Bodas Quince Section from the users.scss


   #bodas {
    width: 90%;
   }

   .quince-image {
    width: 230px;
    padding: 20px
   }



// Oraciones Communes Section
// New Submission for Virtus
// Testimonials Section



}




























// Iphone Landscape, Ipad (regular)


@media (min-width: 429px) and (max-width: 1024px) {

    // Header Section from users.scss

    #header-welcome {
        font-size: 35px;
    }

    #header-body {
        margin: 100px auto;
        width:100%;
    }

    #header-group {
        font-size: 60px;
    }



    // Navbar from the users.scss

    .inside-navbar {
        margin: 0px;
        padding: 0px
    }

    #navbar a {
        font-size: 18px;
        text-align: center;
    }

    .navbar-brand {
        font-size: 18px;
        padding: 0px; 
    }
    
    .navbar-toggler-icon:active {
        border-width: 1px
    }


    // Images within Header from users.scss

    #card-body {
        width: 100%

    }

    #first-image {
        right: 2%
    }

    #second-image {
        left: 2%;
    }

    #third-image {
        left: 17%
    } 

    
    #fifth-image, 
    #sixth-image {
        display: none
    }


    // Misson Component from users.scss

  

    // Carousel on quotes from users.scss

    // #carousel {
    //     display : none;
    // }

    // Contact Form from users.scss

    .contact {
        width: 100%;
        padding: 5px
    }

    .section-title {
        width: 100%;
        padding-bottom: 10px;
        margin: 5px auto;
    }

    // Core Values from users.scss for about jovenes on homepage

    .media-body {
        width: 90%;
        text-align: center;
    }

    .media {
        height: 1200px
    }

    .float-child {
        width: 100%;
    }

    .cVInfo {
        padding: 10px 80px;
        height: 400px
    }

    #second-jovenes-div #imageCarousel {
        width: 80%;
        margin: 0 auto
    }



    // Core Values from users.scss for about seguidores on about

    .seguidores-about {
        height: 1030px
    }


    // Events Page from the users.scss

    .events-heading{
        width: 95%;
        padding: 25px 0px
    }

    #search-form {
        width: 80%;
    }

    #ind-card-for-event {
        width: auto;
        margin: 30px
    }

    // Footer Section in users.scss

    .address {
        font-size: 16px;
    }

    .footer-section a {
        font-size: 16px
    }

    .footer-section .card {
        padding: 10px 2px
    }

    // Calendar from events.scss

    #calendar {
        width: 90%
    }

    #calendar iframe {
        height: 800px
    }

    #personalInfo p {
        font-size: 18px;
    }

    // Videos from videos.scss

    #videos-section {
        padding: 0px;
        margin: 5px
    }

    #video figcaption {
        font-size: 14px
    }

    #video h3 {
        font-size: 16px;
    }

    #videos-heading {
        padding: 10px 5px;
    }

    .delete-video {
        padding-right: 5px
    }

    // .logo {
    //     display: none
    // }


    // Daily word from members.scss

    
    .evan-body-p p {
        font-size: 17px
    }

    .pensamientos-p p {
        font-size: 17px;
    }

    .evan-body-p p {
        font-size: 17px
    }

    .autor-p p {
        font-size: 13px
    }


    // Placeholder partial from members.scss

    // Features section from the members.scss

    #features .feature {
        margin: 0px 0px 0px 12px;
        // padding: 0px;
        width: 96%
    }

    #ind-card {
        padding: 10px 5px;
    }

    // #features {
    //     padding: 0px
    // }

    // .innovation-image {
    //     width: 100px
    // }

    .features-text {
        width: 88%;
        padding: 0;
        margin: 0 auto;
      }

  
    // New Event Form from events.scss

   .newCourseForm {
    margin: 20px auto;
    width: 95%
   }

   .welcomeBack {
    padding-bottom: 10px;
   }


   // Weekly Bulletin from the members.scss
   

   .bulletin .bulletin-img {
    width: 400px
   }

   #events .bulletin {
    width: 100%;
    padding: 0px
   }

   .virtus {
    width: 80%
   }

   .virtus iframe {
    height: 700px
   }


   // Bodas Quince Section from the users.scss


   #bodas {
    width: 85%;
   }

   .quince-image {
    width: 300px;
    padding: 20px
   }


// Oraciones Communes Section
// New Submission for Virtus
// Testimonials Section

}























// IPad Pro Landscape


// @media (min-width: 1025px) and (max-width: 1366px) {

    

// }





// Responsive Design for Ipad Pro


@media (min-width: 1026px) and (max-width: 1366px) {

    // Header Section from users.scss

    #header-welcome {
        font-size: 45px;
    }

    #header-body {
        margin: 100px auto;
        width:100%;
    }

    #header-group {
        font-size: 70px;
    }



    // Navbar from the users.scss

    .inside-navbar {
        margin: 0px;
        padding: 0px 35px 0px 35px
    }

    #navbar a {
        font-size: 20px;
        text-align: center;
    }

    .navbar-brand {
        font-size: 18px;
        padding: 0px; 
    }
    
    // .navbar-toggler-icon:active {
    //     border-width: 1px
    // }


    // Images within Header from users.scss

    #card-body {
        width: 100%

    }

    // Jorge
    #first-image {
        right: 5%
    }

    // Elmer
    #second-image {
        left: 5%;
    }

    // Fermina
    #third-image {
        left: 20%
    } 

    // Johnathan
    #fourth-image {
        left: 25%
    }
    
    #fifth-image, 
    #sixth-image {
        display: none
    }


    // Misson Component from users.scss

  

    // Carousel on quotes from users.scss

    // #carousel {
    //     display : none;
    // }

    // Contact Form from users.scss

    .contact {
        width: 100%;
        padding: 5px
    }

    .section-title {
        width: 100%;
        padding-bottom: 10px;
        margin: 5px auto;
    }

    // Core Values from users.scss for about jovenes on homepage

    .media-body {
        width: 85%;
    }

    // .media {
    //     height: 1200px
    // }

    // .float-child {
    //     width: 100%;
    // }

    .cVInfo {
        padding: 5px 25px;
        
    }

    // #second-jovenes-div #imageCarousel {
    //     width: 80%;
    //     margin: 0 auto
    // }



    // Core Values from users.scss for about seguidores on about

    .seguidores-about {
        height: 800px
    }


    // Events Page from the users.scss

    .events-heading{
        width: 95%;
        padding: 25px 0px
    }

    #search-form {
        width: 80%;
    }

    #ind-card-for-event {
        width: auto;
        margin:  25px 80px
    }

    // Footer Section in users.scss

    .address {
        font-size: 17px;
    }

    .footer-section a {
        font-size: 17px
    }

    .footer-section .card {
        padding: 10px 2px
    }

    // Calendar from events.scss

    #calendar {
        width: 90%
    }

    #calendar iframe {
        height: 800px
    }

    #personalInfo p {
        font-size: 20px;
    }

    // Videos from videos.scss

    #videos-section {
        padding: 0px;
        margin: 5px
    }

    #video figcaption {
        font-size: 14px
    }

    #video h3 {
        font-size: 16px;
    }

    #videos-heading {
        padding: 10px 5px;
    }

    .delete-video {
        padding-right: 5px
    }

    // .logo {
    //     display: none
    // }


    // Daily word from members.scss

    
    .evan-body-p p {
        font-size: 18px
    }

    .pensamientos-p p {
        font-size: 18px;
    }

    .evan-body-p p {
        font-size: 18px
    }

    .autor-p p {
        font-size: 14px
    }


    // Placeholder partial from members.scss

    // Features section from the members.scss

    #features .feature {
        margin: 0px 0px 0px 12px;
        // padding: 0px;
        width: 98%
    }

    #ind-card {
        padding: 10px 5px;
    }

    // #features {
    //     padding: 0px
    // }

    // .innovation-image {
    //     width: 100px
    // }

    .features-text {
        width: 88%;
        padding: 0;
        margin: 0 auto;
      }

  
    // New Event Form from events.scss

   .newCourseForm {
    margin: 20px auto;
    width: 95%
   }

   .welcomeBack {
    padding-bottom: 10px;
   }


   // Weekly Bulletin from the members.scss
   

   .bulletin .bulletin-img {
    width: 500px
   }

   #events .bulletin {
    width: 100%;
    padding: 0px
   }


    // Bodas Quince Section from the users.scss


    #bodas {
        width: 85%;
       }
    
       .quince-image {
        width: 400px;
        padding: 20px
       }

       
// Oraciones Communes Section
// New Submission for Virtus
// Testimonials Section

}




























