


@media (max-width:989px) {
    
    .mainDiv {
        margin: 0px 30px;
        padding: 75px 50px;
    }

    .cVHeading {
        padding: 0px 50px 50px;
        text-align: center;
    }
    

    .media-body {
        padding: 0px 50px;
    }
}

@media (max-width: 1652px) {
    .mainDiv {
        padding: 75px 50px;
        justify-content: center;
    }
    
    .media-body {
        padding: 0px 50px;
    }
}

@media (max-width: 1480px) { 
    .mainDiv {
        padding: 75px 0px;
        margin: 0px 80px;
        justify-content: center;
    }
    
    .media-body {
        padding: 0px 50px;
    }


}


@media (min-width: 1480px) {
    // .footerWrap {
    //     margin: 0px 240px
    // }
}
  

@media (max-width: 1205px) { 
    .media-body {
    padding: 0px 30px;
}
    
}




@media (max-width: 889px) {
        
    .cVHeading {
        padding-bottom:30px;
        
    }
   
    .mainDiv {
        margin: 0 auto;
        padding: 50px 0px;
    }

}



@media (min-width: 989px) {
    div.feature-box.col-lg-4 {
        padding: 25px;
    }

    .featureSubtitle {
        padding: 0px 100px;
    }
    
    .feature-box {
        padding: 25px 50px
    }
}


@media (min-width: 0px) and (max-width: 905px) {
    .float-child {
        width: 100%;
        height: 40rem;
        float: none;
    }

    .valueImg {
        display: none;
    }

    .valueImg iframe {
        display: none;
    }

   div .mainDiv {
    margin: 0px;
    padding:0px;
   }
}









