.daily-word {
    // width: 80%;
    margin: 0 auto;
    text-align: center;
    color: white;
    background: rgb(0, 0, 0);
    background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 60%,
    rgba(19, 0, 255, 1) 100%
  );
    border-radius: 0%;
    width:auto;
}



.body-evan {
    margin-bottom: 0;
    font-size: 20px;
}

.evan-title {
    padding-bottom: 10px;
}

.evan-date {
// font-size: 20px;
    font-weight: 400;
}

.evan-body {
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 0px;
    padding-bottom: 30px;
    text-align: left;
}

.autor {
    margin-bottom: 0px;
    padding-bottom: 25px;
    text-align: right;
}

.pensamientos {
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 0px;
    padding-bottom: 50px;
    text-align: left;
}


// Card for main homepage on Invitamos

.ind-card {
    padding-top: 20px
}


// Placeholder Partial

.profile-pic {
    padding-top: 20px
}

 
.highlight {
    background-position: 0 -8px;
    background-image: linear-gradient(180deg, hsla(0,0%,100%,0) 83%, #fee280 -8px);
}

// Features Section

#features {
    text-align: center;
    margin: 15px 0px;
    padding: 10px 0px 30px
}

.feature {
    margin-right: 300px;
    margin-left: 300px
}


// .featureTitle {
//     color: #119DA4;
//     font-weight: bold;
// }

.feature-title {
    padding-top: 10px
}

.investPeople {
    color: #8f8f8f;
    padding-top: 15px;
    padding-bottom: 10px;
}

.featureSubtitle {
    padding-left: 0px;
    padding-right: 0px;
}

.featuresTogether {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

// .feature-box {
//     padding: 10px
// }

// div.feature-box.col-lg-4 {
//     padding: 0px
// }

.innovation-image {
    padding: 10px
}

// Weekly Bulletin

.bulletin {
    width: 50%; 
    margin: 0px auto; 
    padding: 20px; 
    text-align: center;
}

.bulletin-img {
    width: 600px;
}































// ----------------------------------------------------------
// New Styles that need to be responsive

// Luz.html.erb

.luzDelMundoJumbo {
    background: url('https://seguidoresdejesus.s3.amazonaws.com/assamblea.jpg');
    background-position: center 40%;
    background-size: cover;
    padding: 6rem 2rem;
    text-align: center;
    margin-bottom: 0;
    color: white;
  }

  .luzDelMundoJumbo h1 {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
    letter-spacing: 0.4rem;
  }

  .luzDelMundoJumbo h2 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
  }

  .luzDelMundoJumbo p {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;

  }

  .pequena-comunidad {
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .quoteDiv {
    background-color: #f8f9fa;
      color: #333;
     
  }

  #quoteDiv {
    width: 60%; 
    margin: 0 auto;
  }

  .pequena-communidad-section h2 {
    padding: 60px 10px 55px 10px; 
    font-weight: 700
  }

  .quote {
      text-align: center;
      margin-top: 100px;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .quote h2 {
      font-size: 24px;
      font-weight: bold;
      color: #333;
    }

    .quote p {
      font-size: 18px;
      line-height: 1.5;
      margin-top: 20px;
    }


// misa.html.erb

.misaJumbo {
    background: url("https://seguidoresdejesus.s3.amazonaws.com/stkilian.jpeg");
    background-position: center 80%;
    background-size: cover;
    padding: 6rem 2rem;
    text-align: center;
    margin-bottom: 0;
    color: white;
  }

  .misaJumbo h1 {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
    letter-spacing: 0.4rem;
    
  }

  .misaJumbo p {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
  }

  .author-section {
    padding: 6rem 1rem 1rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .author-img {
    width: 100%;
    /* max-width: 200px; */
    height: auto;
  }

  .confessionDiv {
      margin-top: 50px;
    }

    .section-title {
      text-align: center;
      margin-bottom: 40px;
    }

    .section-title h2 {
      font-size: 28px;
      font-weight: bold;
      color: #333;
    }

    .section-content {
      margin-bottom: 40px;
    }

    .section-content p {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    .misaCard {
      border: none;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .misaCardHeader {
      background-color: #f8f9fa;
      border-bottom: none;
      text-align: center;
    }

    .misaCardTitle {
      font-size: 24px;
      font-weight: bold;
      color: #333;
      margin-bottom: 0;
    }

    .misaCardBody {
      padding: 20px;
      text-align: center;
    }

    .section-content img {
      width: 500px;
      height: auto;
      margin-bottom: 20px;
    }

    .mass-hours {
      list-style-type: none;
      padding: 0;
    }

    .mass-hours li {
      font-size: 18px;
      margin-bottom: 10px;
    }


    // Resos Partial

    #rosarySection {
        background-color: #f8f9fa;
        padding: 50px 10px;
       }
       
        .rosary-section {
            padding: 30px;
            /* margin: 100px 20px; */
        }
    
        .rosary-section img {
            /* border-radius: 10px; */
            width: 280px;
            margin: 0 auto;
        }
    
        .rosary-section-content {
            padding-left: 20px;
        }
    
        .rosary-section h2 {
            color: #007bff;
            font-weight: bold;
        }
    
        .rosary-section p {
            color: #343a40;
        }
    
        .rosary-section a.btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            font-weight: bold;
        }
    
        .rosary-section a.btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }




        // Angeles de Dios page

        .jovenesJumbotron {
          background: url('https://seguidoresdejesus.s3.amazonaws.com/jovenes.jpeg');
          background-position: center 35%;
          background-size: cover;
          padding: 6rem 2rem;
          text-align: center;
          margin-bottom: 0;
          color: white;
        }
      
          .jovenesJumbotron h1 {
            font-size: 4.5rem;
            font-weight: bold;
            margin-bottom: 2rem;
          text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
          letter-spacing: 0.4rem;
      
          }
      
          .jovenesJumbotron p {
            font-size: 2rem;
            margin-bottom: 2rem;
          text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
      
          }
      
          .jovenesJumbotron h2 {
          font-size: 3.5rem;
          font-weight: bold;
          margin-bottom: 2rem;
          text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
        }
      
        #aboutJovenes {
          background-color: #f8f9fa;
          padding: 10px 5px 5px 25px
        }
      
      
          .aboutJovenesHeading {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 30px;
            text-align: center;
          }
          .aboutJovenesContent {
            font-size: 1.2rem;
          }
      
      
          .angel-section {
            background-color: #f9f9f9;
            padding: 60px 0;
            text-align: center;
          }
      
          .video-container {
            position: relative;
            /* padding-bottom: 56.25%; */
            overflow: hidden;
          }
      
          .video-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }


  // Resos Page

  .rosary-image {
    width: 700px;
    margin-top: 150px;
  }

  .resosPage {
    background-image: url("https://seguidoresdejesus.s3.amazonaws.com/rosaryJumbo.png");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 6rem 2rem;
    text-align: center;
    margin-bottom: 0;
  }

  .custom-section {
    background-color: #ffffff; /* Color de fondo para la sección */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .resosPage h1 {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
    letter-spacing: 0.4rem;
  }

  .resosPage p {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
  }



  // About Parish Page

  .aboutParish {
    background: url('https://seguidoresdejesus.s3.amazonaws.com/stkilianhomepage.jpg');
    background-position: center 40%;
    background-size: cover;
    padding: 6rem 2rem;
    text-align: center;
    margin-bottom: 0;
    color: white;
    height: 600px
  }

  .aboutParish h1 {
    font-size: 4.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
    letter-spacing: 0.4rem;
  }


  .aboutParish p {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;

  }


  // Que es ser seguidor Partial

  .seguidor-partial {
    background-color: #f8f9fa;
    padding-top: 70px;
    padding-bottom: 70px;
}

.list-item {
  padding: 5px;
  list-style: none;
}

.list-item  h4 {
    text-align: center;
  font-weight: 600;

}

.image-container {
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 30px;
}

.reflection {
  margin-top: 15px;
}

.reflection p {
  font-style: italic;
}