// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



#navbar {
  padding: 20px;
  background-color: rgb(13, 110, 253);
  width: 100%;
}

.inside-navbar {
  margin-left: 150px;
  margin-right: 150px;
}


#navbar a, .navbar-brand {
  font-size: 24px;
  font-weight:600;
  color: white;
  padding: 5px 20px;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

#navbar a:hover {
  color: blue;
}

#text-center {
  text-align: center;
}

#header-welcome {
  font-size: 40px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.4rem;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;

  /* transition-property: opacity, left, top, height; */
  /* transition-duration: 3s, 5s; */
  /* z-index: ; */
  /* position: absolute; */
}

#header-body {
    z-index: 6;
    margin: 150px auto;
    width: 70%;

    
}

#navbar #brand-logo {
  color: white;
}

#header-group {
  font-size: 79px;
  color: white;
  letter-spacing: 0.3rem;
  z-index: 0;
  font-weight: bold;
  text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
}

#header-group-two {
  font-size: 100px;
  color: white;
  letter-spacing: 0.4rem;
  z-index: 0;
  font-weight: bold;
  text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
}

#header {
  height: 740px;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 60%,
    rgba(19, 0, 255, 1) 100%
  );
  border-radius: 0%;
  width:auto
}

// .card {
//   width: 100%;
// }

#card-body {
  width: 50%;
  /* margin-top: 150px; */
  margin: 125px auto;
  z-index: 5;
  position: relative;
  padding-top: 25px;
}

/* Images */

#first-image {
  width: 59rem;
  position: absolute;
  z-index: 4;
  margin-top: 90px;
  right: 10%;
  margin-top: 20px;
}

#second-image {
  width: 30rem;
  position: absolute;
  z-index: 4;
  margin-top: 20px;
  left: 11%;
  border-radius: 25%;
}

#third-image {
  width: 14rem;
  position: absolute;
  z-index: 3;
  margin-top: 20px;
  left: 22%;
  border-radius: 25%;
}

#fourth-image {
  width: 23rem;
  position: absolute;
  z-index: 4;
  margin-top: 14rem;
  left: 31%;
  border-radius: 10%;
}

#fifth-image {
  width: 14rem;
  position: absolute;
  z-index: 2;
  margin-top: 5rem;
  left: 32%;
  border-radius: 25%;
}

#sixth-image {
  width: 14rem;
  position: absolute;
  z-index: 5;
  margin-top: 23.6rem;
  right: 28%;
}


/* Our Mission Component */

#img-div {
  background-color: white;
  /* margin: 0 auto; */
  width: auto;
}

// Don't know what this does
// #mission {
//   width: 50%;
//   margin: 0 auto;
//   text-align: center;
// }


/* Do the same thing as the categories lab with a ternary expression. If the category is seleted, then add the classname to be selected, else empty string */

/* Footer Section */

footer {
  position: absolute;
  // bottom: 0;
  // left: 0;
  width: 100%
  // clear: both;
}

.footer-section .card {
  
  background-color: rgb(13, 110, 253);
 
  color: white;
  border-radius: 0%;
  text-align: center;
  // float: left;
  border: none;
  // padding-left: 0px;
  // padding-right: 0px;
  padding-bottom: 30px;
}

.footerCard {
  padding: 55px 10px 25px 5px
}

.footerLogoDiv {
  padding-top: 50px
}


.footer-section a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.08rem;
  padding-bottom: 10px;
  // width: 50%;
  margin: 0 auto;
}

.footer-section a:hover {
  // color: green;
  background-color:rgb(13, 110, 253)
}


#footer-logo {
  color: white;
  padding: 0;
}

// #ind-div-footer {
//   // width: 25%;
//   // float: left;
//   border: none;
//   padding-bottom: 20px;
// }

// Carousel for quotes

#ind-img-carousel {
  width: 88%;
  margin: 0 auto;
  padding: 20px 10px 50px;
}

#img-center {
  text-align: center;
}


// Contact Form

.contact {
  width: 80%;
  margin: 0 auto;
  padding: 25px
}

.contact-form {
  margin: 0 auto;
}

.section-title {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px
}

//Core Values

.mainDiv {
  width: 100%;
  margin-top: 50px;
  // padding: 75px 100px;
  // justify-content: center;
  display: block;
}

.media {
 display: block;
 height: 800px;
}

.media-body {
  // padding-right: 150px;
  display: block;
  width: 60%;
  text-align: left;
  margin: 0 auto;
}



.cVHeading {
  padding: 0px 0px 20px 0px;
}
.cVInfo {
  padding: 0px 0px 5px 35px;

}



.float-child {
  width: 50%;
  height: 36rem;
  float: left;
  padding: 25px 20px

}

// .float-child-two {
//   width: 60%;
//   height: 36rem;
//   float: left;
//   padding: 25px 20px

// }

.float-child-two img {
  height: 400px;
}

.textInputs {
  justify-content: center;
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.section {
 margin: 100px auto;
}

// Events Page

#events {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 60%,
    rgba(19, 0, 255, 1) 100%
  );
  border-radius: 0%;
  width:auto;
  margin: 0;
  padding-bottom: 50px;
}

.events-heading {
  width: 50%; 
  margin: 0px auto; 
  padding: 20px; 
  text-align: center;
}

#search-form {
  width: 30%; 
  margin: 10px auto;
}

#ind-card-for-event{
  width: 800px;
  margin:20px auto;
}

// Carousel

#carousel {
 background-color: #fff2c2;
 padding: 30px 10px 50px;
 margin: 0;
 vertical-align: baseline;
 box-sizing: border-box;
}

// .compTestBox {
//   max-width: 888px;
//   position: relative;
//   margin: 60px auto;
//   color: #313131;
//   font-size: 1.125em;
//   font-weight: 100;
//   text-align: center;
// }

.carousel-item {
  height: 180px;
}

#bible {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-bottom: 25px;
  text-align: center
}

#carousel h5 {
  font-style: italic;
  letter-spacing: 2px;
}


// Address on Footer

.address {
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.08rem;
}

// Virtus Bulletin 

.virtus {
  width: 70%;
  margin: 0 auto; 
  height: auto; 
  text-align: center
}


// Bodas Partial

#bodas {
  width: 50%;
  margin: 50px auto;
}

.quince-image {
  padding-top: 30px;
}


// Features

.features-text {
  padding: 15px
}



// Prayers Section

.oracion {
  width: 100%;
  margin: auto;
  padding: 0px 35px 35px 35px;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
}

.oracion h2 {
  line-height: 2; 
  padding-top: 10px;
  font-weight: 600;

}

.oracion h5 {
  line-height: 2;
}

.oracion h4 {
  font-weight: 800;
}

// Virtus Section

.h2Virtus {
  padding-bottom: 20px;
  font-weight: 700;
}

.virtusLogoDiv {
  padding-top: 100px;
}

.virtusLogo {
  margin-top: 0px;
  width: 300px;
}

.virtusContext h2 {
  padding-bottom: 10px;
}