<!-- Make sure to follow these steps to complete this page -->

<!-- Construct a page for the parish. Include an about me for the Pastor. Office Hours and important forms that we can link to.
Make sure to create a new action within the members controller to this page.
Make sure to create a route within the routes page.
Make sure to link the path to the footer link of "Our Parish"
Make sure to include the footer link and this page within the es.yml first and use ChatGPT, to translate the values for the en.yml
Save and Push!
Have an Italian yml file as well


-->

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to St. Kilian's Church</h1>
    <p class="lead">Join Us In Worship and Community.</p>
    <a href="/stkilian-new-member" class="btn btn-primary btn-lg">Register</a>
  </div>



<!-- <%= render "/partials/aboutPastor"%> -->



<style>
  .jumbotron {
    background: url('https://traversethetides.com/wp-content/uploads/2016/07/wedding-at-st-killians.jpg');
    background-position: center 40%;
    background-size: cover;
    padding: 6rem 2rem;
    text-align: center;
    margin-bottom: 0;
    color: white;
    height: 600px
  }

  .jumbotron h1 {
    font-size: 4.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
    letter-spacing: 0.4rem;
  }

  .jumbotron h2 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
  }

  .jumbotron p {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;

  }
  </style>