<!-- Make sure to follow these steps to complete this page -->

<!-- Construct a page for the parish. Include an about me for the Pastor. Office Hours and important forms that we can link to.
Make sure to create a new action within the members controller to this page.

Have an Italian yml file as well.
add the partial for the about pastor from here /partials/aboutPastor
-->


<div class="jumbotron text-center aboutParish">
  <h1 class="display-4">Bienvenidos a la Iglesia de <br>St. Kilian</h1>
  <p class="lead">Únase a Nosotros en la Adoración Y Comunidad.</p>
  <a href="/stkilian-new-member" class="btn btn-primary btn-lg" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/stkilian-new-member'; }, 100);">Register</a>
</div>











<%= render "/partials/invitamos"%>
