
<style>
    .jumbotron {
    background: url('https://seguidoresdejesus.s3.amazonaws.com/jovenes.jpeg');
    background-position: center 35%;
    background-size: cover;
    padding: 6rem 2rem;
    text-align: center;
    margin-bottom: 0;
    color: white;
  }

    .jumbotron h1 {
      font-size: 4.5rem;
      font-weight: bold;
      margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
    letter-spacing: 0.4rem;

    }

    .jumbotron p {
      font-size: 2rem;
      margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;

    }

    .jumbotron h2 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
  }

  #aboutJovenes {
    background-color: #f8f9fa;
    padding: 10px 5px 5px 25px
  }


    .section-heading {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 30px;
      text-align: center;
    }
    .section-content {
      font-size: 1.2rem;
    }


  </style>
  


  
<div class="jumbotron">
  <div class="container">
    <h1>Únete a Nuestro Grupo de Jóvenes</h1>
    <h2>Angeles De Dios</h2>
    <p>Experimenta la alegría de la fe, la amistad y el servicio en una comunidad católica vibrante.</p>
    <a href="#about" class="btn btn-primary btn-lg">Learn More</a>
  </div>
</div>


<%= render "/partials/features"%>

<section id="aboutJovenes">
<div class="container">
    <div class="section">
      <h2 class="section-heading">Los jóvenes son el futuro de la Iglesia Católica</h2>
      <p class="section-content">Los jóvenes desempeñan un papel crucial en el futuro de la Iglesia Católica. Son el fundamento sobre el cual la fe y la comunidad se perpetuarán y crecerán. Aquí hay algunas razones por las que los jóvenes son tan importantes:</p>
      <ul class="section-content">
        <li><strong>Herencia de la fe:</strong> Al aprender sobre Dios y la fe católica a una edad temprana, los jóvenes se preparan para convertirse en líderes y defensores de la fe en las generaciones futuras.</li>
        <li><strong>Renovación y vitalidad:</strong> Los jóvenes aportan energía, entusiasmo y nuevas perspectivas a la Iglesia, lo que ayuda a mantenerla vibrante y relevante en un mundo en constante cambio.</li>
        <li><strong>Solidaridad y servicio:</strong> La juventud tiene un espíritu compasivo y está dispuesta a servir a los demás, lo que enriquece la comunidad y refleja el amor de Dios en acción.</li>
        <li><strong>Evangelización:</strong> Los jóvenes tienen una presencia significativa en las plataformas digitales y sociales, lo que les brinda una oportunidad única para difundir el mensaje del Evangelio en el mundo moderno.</li>
      </ul>
    </div>

    <div class="section">
      <h2 class="section-heading">La importancia de conocer a Dios desde temprana edad</h2>
      <p class="section-content">Aprender sobre Dios desde una edad temprana es esencial para el desarrollo espiritual y moral de los jóvenes. Aquí se destacan algunos puntos importantes:</p>
      <ul class="section-content">
        <li><strong>Formación sólida:</strong> Conocer a Dios desde joven proporciona una base sólida para enfrentar los desafíos de la vida y tomar decisiones fundamentadas en la fe.</li>
        <li><strong>Relación personal con Dios:</strong> El conocimiento temprano de Dios permite a los jóvenes desarrollar una relación cercana y personal con Él, lo que puede brindar consuelo y guía en momentos difíciles.</li>
        <li><strong>Discernimiento de la vocación:</strong> Conocer a Dios desde joven ayuda a los jóvenes a discernir su vocación en la vida y a comprender cómo pueden servir mejor a los demás y a la comunidad.</li>
        <li><strong>Resiliencia:</strong> La fe en Dios puede proporcionar a los jóvenes la fortaleza y la resiliencia necesarias para enfrentar los desafíos y las pruebas que pueden encontrar en su camino.</li>
      </ul>
    </div>
  </div>

</section>

      


