<style>
  .bishopHeading {
    padding: 3.5rem 2rem;
    text-align: center;
    margin-bottom: 0;
    color: white;
    position: relative;
    overflow: hidden;
    height: auto;
  }

  .bishopHeading h1 {
    padding-top: 1rem;
    font-size: 4.5rem;
    font-weight: bold;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
    letter-spacing: 0.4rem;
  }

  .bishopHeading p {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
  }

  .bishopHeading h2 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
  }

  #imgBishop {
    width: 38rem; /* Adjust the width as needed */
    height: 750px; /* Adjust the height as needed */
    position: absolute;
    top: 5%;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1; /* Behind the text */
    opacity: 1;
  }

  .backgroundOverlay {
    background-color: rgba(5, 17, 33, 0.78); /* Your background color */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
</style>

<div class="jumbotron bishopHeading">
  <div class="backgroundOverlay"></div>
  <img
    src="https://cki.wsu.mybluehost.me/BishopBarres/wp-content/uploads/2021/03/Screen-Shot-2017-11-03-at-11.58.45-PM.png"
    id="imgBishop"
  />
  <div class="container">
    <h1>Most Reverend</h1>
    <h1>John Oliver Barres,</h1>
    <p>S.T.D., J.C.L., D.D.</p>
    <p>Fifth Bishop of Rockville Centre</p>
    <img
      src="https://cki.wsu.mybluehost.me/BishopBarres/wp-content/uploads/2021/03/1280px-Coat_of_arms_of_John_Oliver_Barres_Rockville_Centre-1.svg_.png"
      width="100px"
    />
  </div>
</div>

<section class="container my-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-center mb-4">Bishop John Oliver Barres</h2>
      <div class="row">
        <div class="col-md-3">
          <img src="https://cki.wsu.mybluehost.me/BishopBarres/wp-content/uploads/2021/03/1280px-Coat_of_arms_of_John_Oliver_Barres_Rockville_Centre-1.svg_.png" alt="Image" class="img-fluid" />
        </div>
        <div class="col-md-9">
          <p>
            On December 9, 2016, Pope Francis named Most Reverend John Oliver
            Barres the fifth bishop of Rockville Centre. Bishop Barres came from
            the Diocese of Allentown in Pennsylvania, where on May 27, 2009, he
            was named the fourth Bishop for the diocese by Pope Benedict XVI.
            His installation in the Diocese of Rockville Centre on January 31,
            2017 was celebrated in the Cathedral of Saint Agnes, Rockville
            Centre, New York. His Episcopal motto “Holiness and Mission” comes
            from Pope St. John Paul II’s encyclical Redemptoris Missio which
            emphasizes the universal call to holiness and mission in the
            Catholic Church.
          </p>
        </div>
      </div>

      <div id="readMore" style="display: none">
<p>On December 9, 2016, Pope Francis named Most Reverend John Oliver Barres the fifth bishop of Rockville Centre.  Bishop Barres came from the Diocese of Allentown in Pennsylvania, where on May 27, 2009, he was named the fourth Bishop for the diocese by Pope Benedict XVI.  His installation in the Diocese of Rockville Centre on January 31, 2017 was celebrated in the Cathedral of Saint Agnes, Rockville Centre, New York.  His Episcopal motto “Holiness and Mission” comes from Pope St. John Paul II’s encyclical Redemptoris Missio which emphasizes the universal call to holiness and mission in the Catholic Church.</p>
<p>During his installation homily, Bishop Barres appealed to inactive Catholics to rediscover the power of the Word of God, the power of the Sacrament of Penance, and the power of the Catholic Mass.  He encouraged and challenged active Catholics to invite one inactive Catholic friend or family member to Mass; to gently, compassionately, non-judgmentally witness the beauty of their intimacy with Christ and their love for the mission of the Catholic Church.</p>
<p>His ministry to the Diocese began immediately.  At the start of Lent in 2017, Bishop Barres called on Catholics to pray for dramatic missionary growth in the Diocese of Rockville Centre, and reiterated his installation challenge to active Catholics about inviting one inactive Catholic back to Mass.</p>
<p>In May 2017 in commemoration of the 100th anniversary of the Blessed Mother’s apparitions in Fatima, Portugal, Bishop Barres released his first pastoral letter entitled “Miracle of the Sun.”  The letter was an invitation to the faithful to join him in praying the rosary daily during the month of May for the promotion of dramatic missionary growth on Long Island.</p>
<p>During the summer, Bishop Barres ministered to Catholics in many ways.  In June 2017, Bishop Barres ordained five men to the diocesan priesthood.</p>
<p>In July 2017, Bishop Barres conducted the first Quo Vadis Leadership Camp in the Diocese of Rockville Centre, to promote an increase in vocations to the priesthood and religious life.  Quo Vadis was a five-day, four-night experience for young men and women at the Seminary of the Immaculate Conception in Huntington that demonstrated the richness found in the religious life and priesthood on Long Island.</p>
<p>To reach commuters suffering from long train delays during the summer of 2017, Bishop Barres created with Telecare (now Catholic Faith Network), the diocesan television network, an innovative daily video series entitled “The Catholic Spirituality of Commuter Delays.”  The two-month series refocused the reality of commuter delays as disguised missionary moments and well-hidden times of God’s presence among us.</p>
<p>In response to an invitation by Bishop Barres, His Eminence Jose Gregorio Cardinal Rosa Chavez of El Salvador, who worked closely with Blessed Oscar Romero as a young priest, visited the People of God of the Diocese of Rockville Centre in August 2017.  His four days were grace filled as Cardinal Rosa Chavez celebrated the global missionary spirit of Pope Francis and promoted dramatic missionary growth on Long Island.  Cardinal Rosa Chavez touched the hearts of thousands during a packed schedule of pastoral visits to the local communities on Long Island and at Masses attended by thousands of worshippers.  Cardinal Rosa Chavez brought the light of Christ to communities grappling with immigration issues and gang violence.  Along with Father Daniel Rivera and seminarian (now Father) Roger Velasquez, Cardinal Rosa Chavez appealed to the Hispanic community to promote vocations to the priesthood and religious life.</p>
<p>In September 2017, Bishop Barres received the St. John’s University Gold Medal, awarded to individuals who exemplify a commitment to service and the St. John’s University mission.  At that time he delivered an address entitled, “The Relationship between Catholic Sacramental Theology and Catholic Social Justice Teaching: The Sacrament of Penance in Service of ‘Welcoming the Stranger.’”  He gave the Keynote Meditation on September 11, 2017 to the leadership of the United Nations.</p>
<p>On September 26, 2017, Bishop Barres visited the Holocaust Memorial and Tolerance Center of Nassau County in Glen Cove.  He was deeply moved by the experience and was able to spend time with the staff and Board members.</p>
<p>In October 2017, Bishop Barres announced a major commitment to the ongoing healing of survivors of acts of child sexual abuse committed by clergy.  He announced the Independent Reconciliation and Compensation Program (IRCP) for the Diocese of Rockville Centre.  The Program is a critical and tangible step toward reconciliation, healing and compensation for these survivors of abuse.</p>
<p>On November 18, 2017, Bishop Barres joined ecumenical leaders for the 500th Anniversary of the Reformation Prayer Service at the parish of Saint Kilian in Farmingdale.  Bishop James Massa, auxiliary bishop of the Diocese of Brooklyn delivered an inspiring homily and Bishop Barres offered remarks about the ecumenical opportunities around Spiritual Theology and works of English Anglican spiritual theologian Evelyn Underhill (1875-1941).</p>
<p>In the pursuit of dramatic missionary growth on Long Island, Bishop Barres has promoted a partnership with the Augustine Institute for a dynamic Senior Year of Catholic Apologetics for Catholic High School students on Long Island and the use of FORMED (A Catholic version of Netflix) in the parishes of the diocese.  In the course of two months, the number of parishes enrolled in FORMED rose from 20 to 93 parishes.  Bishop Barres has also promoted a partnership with FOCUS (Fellowship of Catholic University Students) so that four Catholic missionaries could work with the Catholic chaplain and campus ministers at Stony Brook University, a flagship university in the State University of New York system.</p>
<p>In his pastoral letter for April 2018 entitled “The Dream and Our Deepest, Truest Selves,” Bishop Barres commemorated the life and mission of Rev. Dr. Martin Luther King, Jr. on the 50th Anniversary of his assassination and offered reflections on Dr. King’s message, life and death through the lens of Catholic theology and spirituality.</p>
<p>Bishop Barres wrote a chapter in the recently released book Apostolic Athletes: 11 Priests and Bishops Reveal How Sports Helped Them Follow Christ’s Call.  Bishop Barres reflects on how sports helped shape his early life and his response to a call to the priesthood.  He looks at his years as a Princeton University JV point guard and how the Holy Spirit helped develop his leadership through that experience.</p>
<p>At the May 11, 2018, Commencement Exercises of St. Joseph’s Seminary (Dunwoodie, New York), Bishop Barres delivered the Keynote Address entitled “Avery Cardinal Dulles and the Future of Catholic Apologetics in America.”</p>
<p>In July 2018, Bishop Barres was one of the representatives of the USCCB Evangelization and Catechesis Committee to participate in the V Congreso Americano Misionero: America en Mision, el Evangelio es alegria in Santa Cruz, Bolivia.  It was a powerful experience of praying, reflecting and applying Pope Francis’ global missiology grounded in the corporal and spiritual works of mercy in a global missionary congress.</p>
<p>On July 25, 2018, Bishop Barres issued a Pastoral Letter entitled “The Supreme Gift: The Gift of Life – Commemorating the 50th Anniversary of Pope Blessed Paul VI’s Encyclical Letter: Humanae Vitae.”  He writes: “Marriage is a gift that God gave to men and women at the beginning of creation, and with that gift comes the responsibility of fulfilling a special mission.  That mission is not only to share the joy of life with Him, but also to share with Him the joy of creating.  Spouses are given the mission by God to serve as co-creators of new human life.”</p>
<p>In September 2018, Bishop Barres with a large delegation from the parishes of the Diocese of Rockville Centre joined with diocesan delegations from around the country in Grapevine, Texas to celebrate and reflect on the fruits of the Fifth Encuentro and to chart future evangelization and leadership directions for the Church in the United States.  Bishop Barres was subsequently asked to join the USCCB subcommittee on Hispanic Affairs.</p>
<p>On October 14, 2018, Bishop Barres issued a Pastoral Letter entitled “Archbishop Saint Oscar Romero: A Catholic Martyr who made the Holy Sacrifice of his Life while Celebrating the Holy Sacrifice of the Mass.”  The Bishop invoked the memory and intercession of this new El Salvadoran Saint: “We take yet another opportunity to connect the Canonization, in a spirit of pastoral charity, promotion of human rights and global justice, to a call for comprehensive immigration reform for our nation that is built on the principles of the dignity of the human person, social justice, the sanctity of human life and the family, and a Good Samaritan love for the poor.”</p>
<p>In September 2019, Bishop Barres issued a Pastoral Letter entitled “Ya Gotta Believe!” which celebrated the 50th Anniversary of the 1969 Amazing New York Mets winning the World Series.  The Bishop writes: “Drawing on the inspiration of the 1969 Miracle Mets, the Catholic Church on Long Island can experience a new era of Catholic Evangelization and dramatic missionary growth against all the odds and expectations, and even become a model for the country!”</p>
<p>On October 13, 2019, Bishop Barres issued a Pastoral Letter entitled “Heart Speaks to Heart,” which celebrates the canonization of St. John Henry Cardinal Newman.  The Bishop wrote: “May Saint John Henry Newman, now fixed among that ‘great cloud of witnesses’ assist us.  In a special way, may he help us in our spiritual lives to seek truth, accept sufferings, and share our faith from the heart.  From his place giving ‘praise to the Holiest in the height,’ may he inspire us to acknowledge truth, orient our conscience towards it, and imbue the conversations of society with it.”</p>
<p>On October 14, 2019, Bishop Barres issued a Statement on Comprehensive Immigration Reform: “On the First Anniversary of the Canonization of Saint Oscar Romero October 14, 2019.”  The Bishop wrote: “A Year later, on the first anniversary of St. Romero’s canonization, and in unity with the many fine statements and interventions of the United States Conference of Catholic Bishops concerning the plight of refugees, non-documented immigrants, the separation of families and dismay over a broken immigration system, I renew my own call for comprehensive immigration reform in this country and globally…May the great and holy martyr, Saint Oscar Romero, intercede for us in our efforts to promote a just and comprehensive immigration reform in this country and around the world as part of a burgeoning Culture of Life.”</p>
<p>In November 2019, a special issue of The Long Island Catholic magazine was dedicated to reflection on Pope Francis’ Apostolic Exhortation to the Youth of the World, Christ is Alive.  The Bishop wrote: “The Holy Father is now 82 years old and yet he shows in his voice and his tone that a spirit of holiness and mission is a youthful spirit at any age.  When Christ is alive and real in our lives, we can experience a grace-streaming fountain of youth in every season of life.  The Holy Father in his age, in his wisdom and in his youthful spirit addresses young people in a moving and heart-felt way that can inspire and motivate them.”</p>
<p>Bishop Barres participated in the November 11-15, 2019 New York State Catholic Bishops’ Ad Limina visit to Rome.  In addition to a November 15, 2019 Audience with Pope Francis, the New York Bishops had meetings with Roman dicastery officials and celebrated Mass at St. Peter’s Basilica, St. John Lateran, St. Mary Major and St. Paul Outside-the-Walls.</p>
<p>On January 27, 2020 at the Trusteeship Council Chamber of the United Nations, Bishop Barres – joined by Bishop Richard Henning and Fr. Lee Descoteaux – participated in a conference dedicated to commemorate Holocaust Remembrance Day and the 75th Anniversary of the Liberation of Auschwitz entitled “Remembering the Holocaust: The Documented Efforts of the Holy See and the Catholic Church to Save Lives.”</p>
<p>The conference was jointly sponsored by the Permanent Observer Mission of the Holy See to the United Nations and the Pave the Way Foundation.  The Holy See was represented by Apostolic Nuncio Archbishop Gabriele Caccia and the Moderator Monsignor Fredrik Hansen.</p>
<p>Scholars who presented included: Dr. Michael Hesemann, Professor Edouard Huson, Professor Johan Ickx, Gary Krupp, Professor Matteo Napolitano, Mark Riebling, Professor Ronald Rychlak and Professor Limore Yagil.</p>
<p>Bishop Barres stated: “It was a moving and illuminating interfaith experience to share with our Jewish brothers and sisters.  Gary Krupp, President of the Pave the Way Foundation, gave an address entitled, ‘The Documented Truth about the Holy See’s, Pius XII’s and the Catholic Church’s Work to Save Jews during World War II’ and gave a powerful summary and synthesis at the end of the fine and precise research that had been presented by the scholars at the conference.”</p>
<p>Bishop Barres uses social media to spread the Gospel message.  He has the Twitter handle @Bishop Barres, and tweets three times each day.  He also has a program on Catholic Faith Network, entitled “Encounter.”  Bishop Barres writes a monthly column, “Holiness and Mission,” for The Long Island Catholicmagazine and Fe Fuerza Vida, the Spanish language newspaper of the Diocese of Rockville Centre.</p>
<p>Nationally, Bishop Barres serves as a member of the United States Conference of Catholic Bishops Subcommittee on Hispanic Affairs, which is part of the Committee on Cultural Diversity in the Church.  In June 2019, Bishop Barres was asked to join the Episcopal Board of Trustees for The Catholic University of America.  He serves on the Seminary and Advancement committees and has been active in “Light the Way: The Campaign for Catholic University.  Previously, he served on the USCCB Committee on Evangelization and Catechesis.  Since 2013, he has served as the USCCB’s Episcopal Liaison to the Pontifical Mission Societies.  Bishop Barres serves on the Board of Trustees and the St. Charles Borromeo Council at St. Joseph’s Seminary (Dunwoodie, New York).</p>
<h3>The Journey to the Diocese of Rockville Centre</h3>
<p>Bishop John Oliver Barres was born September 20, 1960, and raised in Larchmont, New York.  He was the first son of Oliver and Marjorie Catchpole Barres, Congregational ministers who met at the Yale Divinity School and converted to Catholicism in 1955.  The story of their conversion is told in Oliver Barres’ book published in 1955, One Shepherd, One Flock. Bishop Barres was baptized by renowned preacher Bishop Fulton J. Sheen in 1960 while his father worked for Bishop Sheen’s Propagation of the Faith magazine in New York City.   Bishop Barres is the fifth of six children, and has seven nephews and four nieces.</p>
<p>Bishop Barres graduated cum laude in 1978 from Phillips Academy.  In 1982, he graduated with a Bachelor of Arts degree in English literature from Princeton University, Princeton, New Jersey, where he also played three years of junior varsity basketball during the era of Basketball Hall of Fame Coach Pete Carril.  Bishop Barres went on to earn a Master in Business Administration in Management in 1984 from New York University Graduate School of Business Administration, New York.  Bishop Barres completed his seminary formation studies at Theological College, The National Seminary of The Catholic University of America, Washington, D.C.  While at Theological College he received his Baccalaureate in Sacred Theology in 1988 and Licentiate in Systematic Theology in 1989.</p>
<p>Bishop Barres was ordained to the priesthood for the Diocese of Wilmington on October 21, 1989 by Bishop Robert Mulvee.  Bishop Barres began his priesthood as an associate pastor at parishes in Newark and Wilmington, Delaware.  He continued his theological education in Rome, Italy where he studied at the Pontifical University of the Holy Cross, and earned his Licentiate of Canon Law in 1998 and Doctorate in Sacred Theology in 1999.</p>
<p>Upon returning to the Diocese of Wilmington in 1999, Bishop Barres was appointed Vice-Chancellor and then Chancellor of the Diocese.  Pope John Paul II named him a “Chaplain to His Holiness” in July 2000 with the title of “Monsignor.”  Pope Benedict XVI named him a “Prelate of Honor” in November 2005.</p>
<p>After serving the Diocese of Wilmington for almost 20 years, Bishop Barres, at age 48, was named the fourth Bishop for the Diocese of Allentown, Pennsylvania by Pope Benedict XVI on May 27, 2009.  He was ordained and installed as Bishop of Allentown on July 30, 2009, by His Eminence Justin Cardinal Rigali, Archbishop of Philadelphia, at the Cathedral of Saint Catharine of Siena in Allentown.  Bishop Barres was the first priest ordained a bishop within the Diocese of Allentown.  Principal co-consecrators were Bishop William Francis Malooly, Bishop of Wilmington and Bishop Michael Angelo Saltarelli, Bishop Emeritus, Diocese of Wilmington.</p>
<p>Through some innovative approaches to Catholic education and pastoral strategic planning, the New Evangelization mission of the Allentown Diocese was strengthened.  Bishop Barres wanted the Church to reach out and help young Catholics find their way spiritually.  As Bishop he took to social media by establishing a Twitter handle and a weekly video blog.  He would tweet up to three times each day in order to reach out to younger Catholics.</p>
<p>As shepherd of the Diocese of Allentown, Bishop Barres initiated a vibrant diocesan-wide Saint Thomas More Society for lawyers, focused on local efforts to educate the faithful on the importance of protection for religious liberty.  He also established an aspirancy program for young men considering a call to the priesthood.  Under Bishop Barres’ leadership, the diocese expanded its Hispanic ministry and evangelization.</p>
      </div>

      <p class="text-center">
        <a
        id="readMoreBishop"
          class="btn btn-primary "
          href="javascript:void(0);"
          onclick="toggleReadMore();"
          role="button"
          >Read More</a
        >
      </p>
    </div>
  </div>
</section>

<script>
  function toggleReadMore() {
    var readMoreDiv = document.getElementById("readMore");
    var readMoreBishop = document.getElementById("readMoreBishop");
    console.log(readMoreBishop.innerText)

    
    if (readMoreDiv.style.display === "none") {
      readMoreDiv.style.display = "block";
      readMoreBishop.innerText = "Show Less";
    } else {
      readMoreDiv.style.display = "none";
      readMoreBishop.innerText = "Read More";

    }
  }
</script>
