<section style="background-color: #f2f2f2; padding: 50px 50px;">
<div class="container my-5">
    <h1 class="text-center mb-4">Important Files</h1>

    <div class="row text-center">
      <div class="col-md-12 p-4 ">
        <h3>VIRTUS</h3>
        <ul class="list-group">
            <li class="list-group-item"><a target="_blank" href="https://seguidoresdejesus.s3.amazonaws.com/que-es-virtus.pdf">Que es VIRTUS?</a></li>
            <li class="list-group-item"><a target="_blank" href="https://seguidoresdejesus.s3.amazonaws.com/instrucciones-de-registracion-de-virtus.pdf">Instrucciones para VIRTUS Registracion</a></li>
            <li class="list-group-item"><a target="_blank" href="https://seguidoresdejesus.s3.amazonaws.com/codigo-de-conducta.pdf">Codigo de Conducta</a></li>
          <li class="list-group-item"><a target="_blank" href="<%= rails_blob_path(@document.file)%>">Bulletin Del Mes</a></li>

        </ul>
      </div>

      
      <div class="col-md-12 p-4">
        <h3>Noticias Parroqiales</h3>
        <ul class="list-group">
          <li class="list-group-item"><a target="_blank" href="https://www.drvc.org">Diocese de Rockville Centre</a></li>
          <li class="list-group-item"><a target="_blank" href="https://stkilian.com/bulletins">Bulletin de la Parroquia</a></li>
        </ul>
      </div>

      <div class="col-md-12 p-4">
        <h3>Calendarios</h3>
        <ul class="list-group">
          <li class="list-group-item"><a target="_blank" href="https://seguidoresdejesus.s3.amazonaws.com/calendario-catolico.pdf">Calendario Anual</a></li>
          <!-- <li class="list-group-item"><a target="_blank" href="/files/document2.docx">Document 2</a></li>
          <li class="list-group-item"><a target="_blank" href="/files/document3.txt">Document 3</a></li> -->
        </ul>
      </div>

      <div class="col-md-12 p-4">
        <h3>Retiros</h3>
        <ul class="list-group">
          <li class="list-group-item"><a target="_blank" href="https://seguidoresdejesus.s3.amazonaws.com/formulario.pdf">Formulario para Retiros</a></li>
        </ul>
      </div>

      





    </div>
  </div>
</section>