<section class="pastoral">
    <div class="jumbotron text-center guadalupano">
      <div class="container">
      <h1 class="">Bienvenidos al</h1>
      <h2>Grupo Guadalupano!</h2>
      <p class="lead">¡Te invitamos con alegría a unirte a nuestro apasionado Grupo Guadalupano y ser parte de una comunidad comprometida con la fe y el amor! ¡Ven y comparte momentos significativos, aprende juntos y fortalece nuestra conexión espiritual mientras honramos a Nuestra Señora de Guadalupe!</p>
      <a href="#familiarSection2" class="btn btn-primary btn-lg">Aprender Más</a>
      </div>
  </div>

<div class="guadSection2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 history-text">
          <h2 class="section-title">Historia de Nuestra Señora de Guadalupe</h2>
          <p>
            La historia de Nuestra Señora de Guadalupe se remonta al año 1531, cuando la Virgen María apareció al indígena Juan Diego en el cerro de Tepeyac, cerca de la Ciudad de México. En una serie de apariciones, la Virgen le pidió a Juan Diego que construyera un templo en su honor en ese lugar. Este evento se considera un momento crucial en la historia religiosa de México y ha dejado una marca indeleble en la cultura y espiritualidad del país.
          </p>
          <p>
            La imagen milagrosa de la Virgen de Guadalupe, impresa en la tilma de Juan Diego, se convirtió en un símbolo poderoso de la fe y la unión entre las culturas indígena y española. A lo largo de los siglos, esta devoción ha continuado creciendo y expandiéndose más allá de las fronteras de México, tocando los corazones de millones de personas en todo el mundo y reafirmando la importancia de la fe y la intercesión divina.
          </p>
          <p>
            ¡Te invitamos a unirte a nosotros para honrar a Nuestra Señora de Guadalupe y ser parte de esta hermosa tradición! Si deseas formar parte de nuestra comunidad y aprender más sobre su historia y devoción, ¡únete a nuestro Grupo Guadalupano hoy mismo!
          </p>
        </div>
        <div class="col-md-6">
          <img src="guadalupe-image.jpg" alt="Imagen de Nuestra Señora de Guadalupe" class="img-fluid">
        </div>
      </div>
    </div>
</div>

<div class="guadSection3"></div>

<div class="guadSection4">
    <div class="container"></div>
</div>

<div class="guadSection5"></div>






  </section>

<%= render "/partials/invitamos"%>

<style>

.guadalupano {
  background: url('https://www.dgcs.unam.mx/boletin/bdboletin/multimedia/WAV201120/1094(1).jpg') fixed;
  background-position: center 30%;
  background-size: 2550px;
  padding: 6rem 2rem;
  text-align: center;
  margin-bottom: 0;
  color: white;
  height: 700px;
  margin-top: 0
}

.guadalupano h1 {
  font-size: 3.0rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
  letter-spacing: 0.4rem;
}

.guadalupano h2 {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
  letter-spacing: 4px;
}

.guadalupano p {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;

}

.guadSection2 {
  height: 700px;
  padding: 50px 0;
  background-color: #f8f9fa;
  text-align: center;
}

.guadSection3 {
  height: 700px;
  background: url('https://media.vaticannews.va/media/content/dam-archive/vaticannews/images-multimedia/srv/08352_13022016.jpg/_jcr_content/renditions/cq5dam.thumbnail.cropped.1500.844.jpeg'); 
  background-attachment: fixed; 
  background-size: cover;
  background-position: center 20%; 
  background-repeat: no-repeat
}


.guadSection4 {
  height: 600px;
  background-color: #e6f0fe;
  padding: 80px 0;
  text-align: center;
}



.guadSection5 {
  height: 700px; 
  background: url('https://www.ncronline.org/files/20211213T1145-OUR-LADY-OF-GUADALUPE-1514131.JPG'); 
  background-size:cover; 
  background-attachment: fixed; 
  background-position: center 70%; 
  background-repeat: no-repeat;
}

.section-title {
      color: #343a40;
    }

    .history-text {
      text-align: left;
    }




.guadSection3 h1 {
  font-size: 4.5rem;
  font-weight: bold;
  padding-top: 9rem;
  margin-bottom: 2rem;
  text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
  letter-spacing: 0.4rem;
  color: white;
} 

  .section1-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .section1-content {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
  }


</style>