<section class="pastoral">
    <div class="jumbotron text-center guadalupano">
      <div class="container">
      <h1 class="">Bienvenidos al</h1>
      <h2>Grupo Guadalupano!</h2>
      <p class="lead">¡Te invitamos con alegría a unirte a nuestro apasionado Grupo Guadalupano y ser parte de una comunidad comprometida con la fe y el amor! ¡Ven y comparte momentos significativos, aprende juntos y fortalece nuestra conexión espiritual mientras honramos a Nuestra Señora de Guadalupe!</p>
      <a href="#familiarSection2" class="btn btn-primary btn-lg">Aprender Más</a>
      </div>
  </div>
  </section>

<%= render "/partials/invitamos"%>

<style>

.guadalupano {
  background: url('https://www.dgcs.unam.mx/boletin/bdboletin/multimedia/WAV201120/1094(1).jpg') fixed;
  background-position: center 30%;
  background-size: 2550px;
  padding: 6rem 2rem;
  text-align: center;
  margin-bottom: 0;
  color: white;
  height: 700px;
  margin-top: 0
}

.guadalupano h1 {
  font-size: 3.0rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
  letter-spacing: 0.4rem;
}

.guadalupano h2 {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
  letter-spacing: 4px;
}

.headingSection {
  background-color: #f5f9ff; 
  height: 600px;
}

.familiarSection2 {
  background-color: white; 
  height: 600px
}

.familiarSection3 {
  height: 700px;
  background: url('https://seguidoresdejesus.s3.amazonaws.com/familiar1.jpg'); 
  background-attachment: fixed; 
  background-position: center 60%; 
  background-repeat: no-repeat
}

.familiarSection4 {
  height: 700px; 
  background: url('https://seguidoresdejesus.s3.amazonaws.com/familiar2.jpg'); 
  background-size:cover; 
  background-attachment: fixed; 
  background-position: center 70%; 
  background-repeat: no-repeat;
}

.headingSection h1 {
  font-size: 4.5rem;
  font-weight: bold;
  padding-top: 9rem;
  margin-bottom: 2rem;
  text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
  letter-spacing: 0.4rem;
  color: white;
} 


.guadalupano p {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;

}

.faith-section {
    background-color: #f8f9fa;
    padding: 80px 0;
    text-align: center;
  }
  .section1-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .section1-content {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
  }


</style>