


<div class="container">
    <div class="jumbotron">
        <div class="container">
          <h1>Bienvenidos A Nuestra Misa Hispana!</h1>
          <p>¡Te invitamos a unirte a nosotros para vivir una experiencia memorable de adoración que elevará tu espíritu y te acercará a Dios!</p>
          <a href="#about-the-priest" class="btn btn-primary btn-lg">Learn More</a>
        </div>
      </div>

      <br>
  
    <div class="author-section" id="about-the-priest">
      <div class="row">
        <div class="col-sm-4">
            <%= image_tag 'profile/romulo.png', class: "rounded-circle", alt:"Padre Romulo", width:"350px"%>
        </div>
        <div class="col-sm-8">
          <h2>Padre Romulo Gomez</h2>
          <h5>Sacerdote de la Comunidad Hispana</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada diam sit amet nulla dapibus, in venenatis elit consequat. Sed ac nisl non felis sodales luctus. Integer tempus leo vel nibh sollicitudin, eget tempor lacus dignissim.</p>
        </div>
      </div>
    </div>
  </div>

  <style>

    .jumbotron {
      /* background-color: #f8f9fa; */
      background-size: cover;
      padding: 6rem 2rem;
      text-align: center;
      margin-bottom: 0;
    }

    .jumbotron h1 {
      font-size: 4.5rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    .jumbotron p {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .author-section {
      padding: 2rem;
      margin-bottom: 2rem;
      background-color: #f8f9fa;
      border-radius: 0.3rem;
    }

    .author-img {
      width: 100%;
      /* max-width: 200px; */
      height: auto;
    }

  </style>