<div class="jumbotron text-center aboutFamiliar">
    <h1 class="display-4">Bienvenidos A Nuestro Grupo <br>Pastoral Familiar</h1>
    <p class="lead"></p>
    <a href="#" class="btn btn-primary btn-lg">Aprender Mas</a>
  </div>
  
  
  
  <%= render "/partials/invitamos"%>

  <style>

.aboutFamiliar {
    background: url('https://seguidoresdejesus.s3.amazonaws.com/Service_1502724393_24.png');
    background-position: center 10%;
    background-size: cover;
    padding: 6rem 2rem;
    text-align: center;
    margin-bottom: 0;
    color: white;
    height: 600px
  }

  .aboutFamiliar h1 {
    font-size: 4.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
    letter-spacing: 0.4rem;
  }


  .aboutFamiliar p {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;

  }

  </style>