


  <section class="pastoral">
  <div class="jumbotron text-center aboutFamiliar">
    <div class="container">
    <h1 class="">¡Bienvenidos A Nuestro Grupo!</h1>
    <h2>Pastoral Familiar</h2>
    <p class="lead">¡Únete a nosotros para compartir momentos significativos, aprender juntos y fortalecer nuestros lazos familiares! ¡Estamos emocionados de tener nuevas caras en nuestro grupo! 🎉</p>
    <a href="#familiarSection2" class="btn btn-primary btn-lg">Aprender Más</a>
    </div>
</div>


  <div class="jumbotron text-center familiarSection2" id="familiarSection2">
    <section class="faith-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <h2 class="section1-heading">Strengthening Families Through Faith</h2>
              <p class="section1-content">In a world filled with distractions and challenges, learning about God and nurturing a close relationship with Him is of paramount importance for families. These spiritual foundations provide a sense of purpose, guidance, and unity that can greatly benefit the family unit.</p>
              <p class="section1-content">Being together as a family is a fundamental value that fosters love, support, and understanding. Gathering for religious activities and discussions enables families to share their beliefs, values, and experiences, leading to stronger connections and a deeper appreciation for one another.</p>
              <p class="section1-content">For pastoral families, reunions hold a special significance. These gatherings offer opportunities for pastoral families to exchange insights, seek guidance, and share the unique challenges they face in their roles as spiritual leaders. Through mutual support and shared experiences, pastoral families can grow together and better serve their communities.</p>
            </div>
          </div>
        </div>
      </section>
  </div>

  <div class="jumbotron text-center familiarSection3"></div>

  <div class="jumbotron text-center headingSection">
    <div class="container">
        <h1 class="display-4">Ven Acompañanos!</h1>
        <p class="lead">Join us for our family gatherings where we celebrate faith and togetherness.</p>
        <p class="contact-details">When: First Saturday of the Month, 7:45 PM</p>
        <p class="contact-details">Where: St.Kilian Roman Catholic Church, Green Room</p>
        <p class="contact-details">For more information and to join, contact: Jose Flores at 1 (346) 777-1280 </p>
    </div>
  </div>

  <div class="jumbotron text-center familiarSection4"></div>
</section>




<%= render "/partials/invitamos"%>
