<div class="jumbotron text-center">
    <div class="container">
      <h1>El Santo Rosario</h1>
      <p class="lead">Únete a nosotros en oración y contemplación</p>
      <p>El Santo Rosario es una poderosa oración que nos acerca a la Santísima Virgen María y a su Hijo, Jesucristo. Es una meditación sobre la vida de Jesús a través de los ojos de María.</p>
      <p>Únete a nuestra comunidad en la recitación del Rosario mientras buscamos paz, sanación y crecimiento espiritual.</p>
      <a href="#" class="btn btn-primary btn-lg">Ven y Participa</a>
    </div>
  </div>


  <style>
    /* Custom CSS styling */
.jumbotron {
    background-image: url('https://seguidoresdejesus.s3.amazonaws.com/rosaryJumbo.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 6rem 2rem;
    text-align: center;
    margin-bottom: 0;
    }

  
   
    
.jumbotron h1 {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
    letter-spacing: 0.4rem;
    }

.jumbotron p {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
    }
  </style>