<section id="" class="contact">
    <div class="container contact removeNewMembersForm">
      <div class="section-title">
        <h2 class="">We are EXCITED for you to JOIN US!!</h2>
        <p class="contact-paragraph">Fill out the form to register</p>
      </div>


      <!-- Start on the Family Form -->
  
      <div class="row">
        <div class="col-lg-12">
          <div class="bg-white rounded shadow p-4 contact-form">
            <form id="contact-form-new-members-st-kilian">
              <h4 style="text-align: center; padding-bottom: 25px"></h4>

              <h3 class="form-label" style="font-weight: 500; text-align: center; padding-bottom: 25px">Family Information:</h3>

              <div class="row">
              <div class="mt-3 col-lg-4">
                <label class="form-label" style="font-weight: 500;">Family Last Name <small>REQUIRED</small></label>
                <input type="text" name="house_last" class="form-control shadow-none" placeholder="Enter Last Name" required>
              </div>


              <div class="mt-3 col-lg-4">
                <label class="form-label" style="font-weight: 500;">Address <small>REQUIRED</small></label>
                <input type="text" name="house_address" class="form-control shadow-none" placeholder="Enter Address" required>
              </div>


              <div class="mt-3 col-lg-4">
                <label class="form-label" style="font-weight: 500;">City <small>REQUIRED</small></label>
                <input type="text" name="house_city" class="form-control shadow-none" placeholder="Enter City" required>
              </div>
            </div>


            <div class="row">
                <div class="mt-3 col-lg-4">
                    <label class="form-label" style="font-weight: 500;">State <small>REQUIRED</small></label> 
                    <select name="house_state" class="form-control shadow-none" required>
                      <option value="" selected disabled>Select State</option>
                      <option value="AL">AL</option> - Alabama
                      <option value="AK">AK</option> - Alaska
                      <option value="AZ">AZ</option> - Arizona
                      <option value="AR">AR</option> - Arkansas
                      <option value="CA">CA</option> - California
                      <option value="CO">CO</option> - Colorado
                      <option value="CT">CT</option> - Connecticut
                      <option value="DE">DE</option> - Delaware
                      <option value="FL">FL</option> - Florida
                      <option value="GA">GA</option> - Georgia
                      <option value="HI">HI</option> - Hawaii
                      <option value="ID">ID</option> - Idaho
                      <option value="IL">IL</option> - Illinois
                      <option value="IN">IN</option> - Indiana
                      <option value="IA">IA</option> - Iowa
                      <option value="KS">KS</option> - Kansas
                      <option value="KY">KY</option> - Kentucky
                      <option value="LA">LA</option> - Louisiana
                      <option value="ME">ME</option> - Maine
                      <option value="MD">MD</option> - Maryland
                      <option value="MA">MA</option> - Massachusetts
                      <option value="MI">MI</option> - Michigan
                      <option value="MN">MN</option> - Minnesota
                      <option value="MS">MS</option> - Mississippi
                      <option value="MO">MO</option> - Missouri
                      <option value="MT">MT</option> - Montana
                      <option value="NE">NE</option> - Nebraska
                      <option value="NV">NV</option> - Nevada
                      <option value="NH">NH</option> - New Hampshire
                      <option value="NJ">NJ</option> - New Jersey
                      <option value="NM">NM</option> - New Mexico
                      <option value="NY">NY</option> - New York
                      <option value="NC">NC</option> - North Carolina
                      <option value="ND">ND</option> - North Dakota
                      <option value="OH">OH</option> - Ohio
                      <option value="OK">OK</option> - Oklahoma
                      <option value="OR">OR</option> - Oregon
                      <option value="PA">PA</option> - Pennsylvania
                      <option value="RI">RI</option> - Rhode Island
                      <option value="SC">SC</option> - South Carolina
                      <option value="SD">SD</option> - South Dakota
                      <option value="TN">TN</option> - Tennessee
                      <option value="TX">TX</option> - Texas
                      <option value="UT">UT</option> - Utah
                      <option value="VT">VT</option> - Vermont
                      <option value="VA">VA</option> - Virginia
                      <option value="WA">WA</option> - Washington
                      <option value="WV">WV</option> - West Virginia
                      <option value="WI">WI</option> - Wisconsin
                      <option value="WY">WY</option> - Wyoming
                    </select>
                  </div>


              <div class="mt-3 col-lg-4">
                <label class="form-label" style="font-weight: 500;">Zip Code <small>REQUIRED</small></label>
                <input type="text" name="house_zip" class="form-control shadow-none" placeholder="Enter Zip Code" required pattern="[0-9]{5}">
              </div>

              <div class="mt-3 col-lg-4">
                <label class="form-label" style="font-weight: 500;">Title <small>REQUIRED</small></label>
                <select name="house_title" class="form-control shadow-none" required>
                    <option value="" selected disabled>Select Title</option>
                    <option value="Mr. & Mrs.">Mr. & Mrs.</option>
                    <option value="Mr.">Mr.</option>
                    <option value="Ms.">Ms.</option>
                    <option value="Miss.">Miss.</option>
                    <option value="Deacon">Deacon</option>
                  </select>
              </div>
            </div>

            <div class="row">
              <div class="mt-3 col-lg-6">
                <label class="form-label" style="font-weight: 500;">Email <small>REQUIRED</small></label>
                <input type="email" name="house_email" class="form-control shadow-none" placeholder="Enter Email" required>
              </div>

              <div class="mt-3 col-lg-6">
                <label class="form-label" style="font-weight: 500;">Phone Number <small>REQUIRED</small></label>
                <input type="text" name="house_phone" class="form-control shadow-none" placeholder="Enter Phone Number" required>
              </div>
            </div>

            <div class="row">
              <div class="mt-3 col-lg-4">
                <label class="form-label" style="font-weight: 500;">Married <span>REQUIRED</span></label><br>
                <select name="house_married" class="form-control shadow-none">
                  <option value="" selected disabled required>Select One</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>

              <div class="mt-3 col-lg-8">
                <label class="form-label" style="font-weight: 500;">Church of Marriage</label>
                <input type="text" name="house_church" class="form-control shadow-none" placeholder="Enter Church's Name and Address (if possible)">
              </div>
            </div>


            <!-- End on the Family Form -->


            <!-- Start on the Family Form -->




            <h3 class="form-label" style="font-weight: 500; padding-top: 60px; padding-bottom: 25px; text-align: center">Individuals Living in the Home:</h3>



























          <!-- Start on the Head of household Form -->

            <h5 class="form-label" style="font-weight: 800; padding-top: 20px; padding-bottom: 25px">Person 1: Head of Household</h5>

            <div class="row">
            <div class="mt-3 col-lg-6">
                <label class="form-label" style="font-weight: 500;">First Name <small>REQUIRED</small></label>
                <input type="text" name="p1name" class="form-control shadow-none" placeholder="Enter First Name">
              </div>

              <div class="mt-3 col-lg-6">
                <label class="form-label" style="font-weight: 500;">Last Name <small>REQUIRED</small></label>
                <input type="text" name="p1last" class="form-control shadow-none" placeholder="Enter Last Name">
              </div>
            </div>

            <div class="row">
              <div class="mt-3 col-lg-4">
                <label class="form-label" style="font-weight: 500;">Gender</label>
                <select name="p1gender" class="form-control shadow-none">
                  <option value="" selected disabled>Select Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>

            <div class="mt-3 col-lg-4">
              <label class="form-label" style="font-weight: 500;">Date of Birth <small>REQUIRED</small></label>
              <input type="date" name="p1dob" class="form-control shadow-none">
            </div>

            <div class="mt-3 col-lg-4">
              <label class="form-label" style="font-weight: 500;">Email <small>REQUIRED</small></label>
              <input type="email" name="p1email" class="form-control shadow-none" placeholder="Enter Email">
            </div>
          </div>

          <div class="row">
              <div class="mt-3 col-lg-6">
                <label class="form-label" style="font-weight: 500;">Head of Household</label>
                <select name="p1head" class="form-control shadow-none">
                  <option value="" selected disabled>Select One</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>

              
              <div class="mt-3 col-lg-6">
                <label class="form-label" style="font-weight: 500;">Sacraments Received</label>
                <div class="form-check">
                  <input type="checkbox" name="p1sac[]" value="baptism" class="form-check-input">
                  <label class="form-check-label">Baptism</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" name="p1sac[]" value="confirmation" class="form-check-input">
                  <label class="form-check-label">Confirmation</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" name="p1sac[]" value="communion" class="form-check-input">
                  <label class="form-check-label">Communion</label>
                </div>
              </div>
            </div>

             
<!-- End on the Head of household Form -->
























<!-- Start on Person 2 -->

<h5 class="form-label" style="font-weight: 800; padding-top: 50px; padding-bottom: 5px">Person 2:</h5>

<div class="row">
<div class="mt-3 col-lg-6">
    <label class="form-label" style="font-weight: 500;">First Name</label>
    <input type="text" name="p2name" class="form-control shadow-none" placeholder="Enter First Name">
  </div>

  <div class="mt-3 col-lg-6">
    <label class="form-label" style="font-weight: 500;">Last Name</label>
    <input type="text" name="p2last" class="form-control shadow-none" placeholder="Enter Last Name">
  </div>
</div>

<div class="row">
  <div class="mt-3 col-lg-4">
    <label class="form-label" style="font-weight: 500;">Gender</label>
    <select name="p2gender" class="form-control shadow-none">
      <option value="" selected disabled>Select Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>

<div class="mt-3 col-lg-4">
  <label class="form-label" style="font-weight: 500;">Date of Birth</label>
  <input type="date" name="p2dob" class="form-control shadow-none" placeholder="">
</div>

<div class="mt-3 col-lg-4">
  <label class="form-label" style="font-weight: 500;">Email</label>
  <input type="email" name="p2email" class="form-control shadow-none" placeholder="Enter Email">
</div>
</div>

<div class="row">
  
  <div class="mt-3 col-lg-6">
    <label class="form-label" style="font-weight: 500;">Sacraments Received</label>
    <div class="form-check">
      <input type="checkbox" name="p2sac[]" value="baptism" class="form-check-input">
      <label class="form-check-label">Baptism</label>
    </div>
    <div class="form-check">
      <input type="checkbox" name="p2sac[]" value="confirmation" class="form-check-input">
      <label class="form-check-label">Confirmation</label>
    </div>
    <div class="form-check">
      <input type="checkbox" name="p2sac[]" value="communion" class="form-check-input">
      <label class="form-check-label">Communion</label>
    </div>
  </div>
</div>

 
<!-- End on the Person 2 -->
























              
<!-- Start on Person 3 -->

<h5 class="form-label" style="font-weight: 800; padding-top: 50px; padding-bottom: 5px">Person 3:</h5>

<div class="row">
<div class="mt-3 col-lg-6">
    <label class="form-label" style="font-weight: 500;">First Name</label>
    <input type="text" name="p3name" class="form-control shadow-none" placeholder="Enter First Name">
  </div>

  <div class="mt-3 col-lg-6">
    <label class="form-label" style="font-weight: 500;">Last Name</label>
    <input type="text" name="p3last" class="form-control shadow-none" placeholder="Enter Last Name">
  </div>
</div>

<div class="row">
  <div class="mt-3 col-lg-4">
    <label class="form-label" style="font-weight: 500;">Gender</label>
    <select name="p3gender" class="form-control shadow-none">
      <option value="" selected disabled>Select Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>

<div class="mt-3 col-lg-4">
  <label class="form-label" style="font-weight: 500;">Date of Birth</label>
  <input type="date" name="p3dob" class="form-control shadow-none" placeholder="">
</div>

<div class="mt-3 col-lg-4">
  <label class="form-label" style="font-weight: 500;">Email</label>
  <input type="email" name="p3email" class="form-control shadow-none" placeholder="Enter Email">
</div>
</div>

<div class="row">
  
  <div class="mt-3 col-lg-6">
    <label class="form-label" style="font-weight: 500;">Sacraments Received</label>
    <div class="form-check">
      <input type="checkbox" name="p3sac[]" value="baptism" class="form-check-input">
      <label class="form-check-label">Baptism</label>
    </div>
    <div class="form-check">
      <input type="checkbox" name="p3sac[]" value="confirmation" class="form-check-input">
      <label class="form-check-label">Confirmation</label>
    </div>
    <div class="form-check">
      <input type="checkbox" name="p3sac[]" value="communion" class="form-check-input">
      <label class="form-check-label">Communion</label>
    </div>
  </div>
</div>

 
<!-- End on Person 3 -->

























<!-- Start on Person 4 -->

<h5 class="form-label" style="font-weight: 800; padding-top: 50px; padding-bottom: 5px">Person 4:</h5>

<div class="row">
<div class="mt-3 col-lg-6">
    <label class="form-label" style="font-weight: 500;">First Name</label>
    <input type="text" name="p4name" class="form-control shadow-none" placeholder="Enter First Name">
  </div>

  <div class="mt-3 col-lg-6">
    <label class="form-label" style="font-weight: 500;">Last Name</label>
    <input type="text" name="p4last" class="form-control shadow-none" placeholder="Enter Last Name">
  </div>
</div>

<div class="row">
  <div class="mt-3 col-lg-4">
    <label class="form-label" style="font-weight: 500;">Gender</label>
    <select name="p4gender" class="form-control shadow-none">
      <option value="" selected disabled>Select Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>

<div class="mt-3 col-lg-4">
  <label class="form-label" style="font-weight: 500;">Date of Birth</label>
  <input type="date" name="p4dob" class="form-control shadow-none" placeholder="">
</div>

<div class="mt-3 col-lg-4">
  <label class="form-label" style="font-weight: 500;">Email</label>
  <input type="email" name="p4email" class="form-control shadow-none" placeholder="Enter Email">
</div>
</div>

<div class="row">
  
  <div class="mt-3 col-lg-6">
    <label class="form-label" style="font-weight: 500;">Sacraments Received</label>
    <div class="form-check">
      <input type="checkbox" name="p4sac[]" value="baptism" class="form-check-input">
      <label class="form-check-label">Baptism</label>
    </div>
    <div class="form-check">
      <input type="checkbox" name="p4sac[]" value="confirmation" class="form-check-input">
      <label class="form-check-label">Confirmation</label>
    </div>
    <div class="form-check">
      <input type="checkbox" name="p4sac[]" value="communion" class="form-check-input">
      <label class="form-check-label">Communion</label>
    </div>
  </div>
</div>

 
<!-- End on Person 4 -->


























<!-- Start on Person 5 -->

<h5 class="form-label" style="font-weight: 800; padding-top: 50px; padding-bottom: 5px">Person 5:</h5>

<div class="row">
<div class="mt-3 col-lg-6">
    <label class="form-label" style="font-weight: 500;">First Name</label>
    <input type="text" name="p5name" class="form-control shadow-none" placeholder="Enter First Name">
  </div>

  <div class="mt-3 col-lg-6">
    <label class="form-label" style="font-weight: 500;">Last Name</label>
    <input type="text" name="p5last" class="form-control shadow-none" placeholder="Enter Last Name">
  </div>
</div>

<div class="row">
  <div class="mt-3 col-lg-4">
    <label class="form-label" style="font-weight: 500;">Gender</label>
    <select name="p5gender" class="form-control shadow-none">
      <option value="" selected disabled>Select Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>

<div class="mt-3 col-lg-4">
  <label class="form-label" style="font-weight: 500;">Date of Birth</label>
  <input type="date" name="p5dob" class="form-control shadow-none" placeholder="">
</div>

<div class="mt-3 col-lg-4">
  <label class="form-label" style="font-weight: 500;">Email</label>
  <input type="email" name="p5email" class="form-control shadow-none" placeholder="Enter Email">
</div>
</div>

<div class="row">
  
  <div class="mt-3 col-lg-6">
    <label class="form-label" style="font-weight: 500;">Sacraments Received</label>
    <div class="form-check">
      <input type="checkbox" name="p5sac[]" value="baptism" class="form-check-input">
      <label class="form-check-label">Baptism</label>
    </div>
    <div class="form-check">
      <input type="checkbox" name="p5sac[]" value="confirmation" class="form-check-input">
      <label class="form-check-label">Confirmation</label>
    </div>
    <div class="form-check">
      <input type="checkbox" name="p5sac[]" value="communion" class="form-check-input">
      <label class="form-check-label">Communion</label>
    </div>
  </div>
</div>

 
<!-- End on Person 5 -->

























<!-- Start on Person 6 -->

<h5 class="form-label" style="font-weight: 800; padding-top: 50px; padding-bottom: 5px">Person 6:</h5>

<div class="row">
<div class="mt-3 col-lg-6">
    <label class="form-label" style="font-weight: 500;">First Name</label>
    <input type="text" name="p6name" class="form-control shadow-none" placeholder="Enter First Name">
  </div>

  <div class="mt-3 col-lg-6">
    <label class="form-label" style="font-weight: 500;">Last Name</label>
    <input type="text" name="p6last" class="form-control shadow-none" placeholder="Enter Last Name">
  </div>
</div>

<div class="row">
  <div class="mt-3 col-lg-4">
    <label class="form-label" style="font-weight: 500;">Gender</label>
    <select name="p6gender" class="form-control shadow-none">
      <option value="" selected disabled>Select Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>

<div class="mt-3 col-lg-4">
  <label class="form-label" style="font-weight: 500;">Date of Birth</label>
  <input type="date" name="p6dob" class="form-control shadow-none" placeholder="">
</div>

<div class="mt-3 col-lg-4">
  <label class="form-label" style="font-weight: 500;">Email</label>
  <input type="email" name="p6email" class="form-control shadow-none" placeholder="Enter Email">
</div>
</div>

<div class="row">
  
  <div class="mt-3 col-lg-6">
    <label class="form-label" style="font-weight: 500;">Sacraments Received</label>
    <div class="form-check">
      <input type="checkbox" name="p6sac[]" value="baptism" class="form-check-input">
      <label class="form-check-label">Baptism</label>
    </div>
    <div class="form-check">
      <input type="checkbox" name="p6sac[]" value="confirmation" class="form-check-input">
      <label class="form-check-label">Confirmation</label>
    </div>
    <div class="form-check">
      <input type="checkbox" name="p6sac[]" value="communion" class="form-check-input">
      <label class="form-check-label">Communion</label>
    </div>
  </div>
</div>

 
<!-- End on Person 6-->
























<br>
<div class="mt-3">
  <label class="form-label" style="font-weight: 500;">Additional Comments</label>
  <textarea name="additional_comments" class="form-control shadow-none" placeholder=""></textarea>
</div>













              <button type="submit" style="background: #149ddd; border:0; padding: 10px 24px; color: #fff; transition: 0.4s; border-radius: 4px;" id="sendButtonRegister" onclick='sendMailToKilian()' class="btn-primary mt-3 outline shadow">SEND</button>
            </form>
          </div>
        </div>
  

      </div>
    </div>
  </section>
