<section id="events" style="padding-bottom:50px;">

<div class="events-heading">
    <h2 id="videos-heading" class="text-white">Bulletin Mensual de Virtus</h2>
</div>

<!-- <a href="../../assets/pdfs/virtus.pdf" target="_blank">Bulletin del Mes</a> -->

<!-- <%= link_to 'Monthly Bulletin', asset_path('/pdfs/virtus.pdf'), target: '_blank' %> -->
<div style="width: 70%; margin: 0 auto; height: auto">
    <iframe src="/pdfs/virtus.pdf" width="100%" height="600px"></iframe>
</div>
</section>